/****** Object:  StoredProcedure [dbo].[HDEMO_INSERT_S2]    Script Date: 4/10/2015 3:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HDEMO_INSERT_S2] (
 @An_MemberMci_IDNO          NUMERIC(10,0),
 @Ac_Restricted_INDC			CHAR(1) 
 )
AS
 /*
  *     PROCEDURE NAME    : HDEMO_INSERT_S2
  *     DESCRIPTION       : Inserts the member demographics details into history
  *     DEVELOPED BY      : IMP Team
  *     DEVELOPED ON      : 13-OCT-2011
  *     MODIFIED BY       :   
  *     MODIFIED ON       :
  *     VERSION NO        : 1
 */
 BEGIN
  DECLARE @Ld_Systemdate_DATE DATE = DBO.BATCH_COMMON_SCALAR$SF_SYS_DATE_TIME(),
		  @Ld_Systemdatetime_DTTM DATETIME2 = DBO.BATCH_COMMON_SCALAR$SF_SYS_DATE_TIME();

  INSERT HDEMO_Y1
         (MemberMci_IDNO,   
         Individual_IDNO,   
         Last_NAME,   
         First_NAME,   
         Middle_NAME,   
         Suffix_NAME,   
         Title_NAME,   
         FullDisplay_NAME,   
         MemberSex_CODE,   
         MemberSsn_NUMB,   
         Birth_DATE,   
         Emancipation_DATE,   
         LastMarriage_DATE,   
         LastDivorce_DATE,   
         BirthCity_NAME,   
         BirthState_CODE,   
         BirthCountry_CODE,   
         DescriptionHeight_TEXT,   
         DescriptionWeightLbs_TEXT,   
         Race_CODE,   
         ColorHair_CODE,   
         ColorEyes_CODE,   
         FacialHair_INDC,   
         Language_CODE,   
         TypeProblem_CODE,   
         Deceased_DATE,   
         CerDeathNo_TEXT,   
         LicenseDriverNo_TEXT,   
         AlienRegistn_ID,   
         WorkPermitNo_TEXT,   
         BeginPermit_DATE,   
         EndPermit_DATE,   
         HomePhone_NUMB,   
         WorkPhone_NUMB,   
         CellPhone_NUMB,   
         Fax_NUMB,   
         Contact_EML,   
         Spouse_NAME,   
         Graduation_DATE,   
         EducationLevel_CODE,   
         Restricted_INDC,   
         Military_ID,   
         MilitaryBranch_CODE,   
         MilitaryStatus_CODE,   
         MilitaryBenefitStatus_CODE,   
         SecondFamily_INDC,   
         MeansTestedInc_INDC,   
         SsIncome_INDC,   
         VeteranComps_INDC,
         Disable_INDC,
         Assistance_CODE,   
         DescriptionIdentifyingMarks_TEXT,   
         Divorce_INDC,   
         BeginValidity_DATE,   
         EndValidity_DATE,   
         WorkerUpdate_ID,   
         TransactionEventSeq_NUMB,   
         Update_DTTM,
         TypeOccupation_CODE,   
         CountyBirth_IDNO,   
         MotherMaiden_NAME,   
         FileLastDivorce_ID,  
         TribalAffiliations_CODE,     
         FormerMci_IDNO,     
         StateDivorce_CODE,	  
         CityDivorce_NAME,    
         StateMarriage_CODE,  
         CityMarriage_NAME,   
         IveParty_IDNO)  
         SELECT A.MemberMci_IDNO,
         A.Individual_IDNO,
         A.Last_NAME,
         A.First_NAME,
         A.Middle_NAME,
         A.Suffix_NAME,
         A.Title_NAME,
         A.FullDisplay_NAME,
         A.MemberSex_CODE,
         A.MemberSsn_NUMB,
         A.Birth_DATE,
         A.Emancipation_DATE,
         A.LastMarriage_DATE,
         A.LastDivorce_DATE,
         A.BirthCity_NAME,
         A.BirthState_CODE,
         A.BirthCountry_CODE,
         A.DescriptionHeight_TEXT,
         A.DescriptionWeightLbs_TEXT,
         A.Race_CODE,
         A.ColorHair_CODE,
         A.ColorEyes_CODE,
         A.FacialHair_INDC,
         A.Language_CODE,
         A.TypeProblem_CODE,
         A.Deceased_DATE,
         A.CerDeathNo_TEXT,
         A.LicenseDriverNo_TEXT,
         A.AlienRegistn_ID,
         A.WorkPermitNo_TEXT,
         A.BeginPermit_DATE,
         A.EndPermit_DATE,
         A.HomePhone_NUMB,
         A.WorkPhone_NUMB,
         A.CellPhone_NUMB,
         A.Fax_NUMB,
         A.Contact_EML,
         A.Spouse_NAME,
         A.Graduation_DATE,
         A.EducationLevel_CODE,
         A.Restricted_INDC,
         A.Military_ID,
         A.MilitaryBranch_CODE,
         A.MilitaryStatus_CODE,
         A.MilitaryBenefitStatus_CODE,
         A.SecondFamily_INDC,
         A.MeansTestedInc_INDC,
         A.SsIncome_INDC,
         A.VeteranComps_INDC,
         A.Disable_INDC,
         A.Assistance_CODE,
         A.DescriptionIdentifyingMarks_TEXT,
         A.Divorce_INDC,
         A.BeginValidity_DATE,
         @Ld_Systemdate_DATE,
         A.WorkerUpdate_ID,
         A.TransactionEventSeq_NUMB,
         @Ld_Systemdatetime_DTTM,
         A.TypeOccupation_CODE,
         A.CountyBirth_IDNO,
         A.MotherMaiden_NAME,
         A.FileLastDivorce_ID,
         A.TribalAffiliations_CODE,
         A.FormerMci_IDNO,
         A.StateDivorce_CODE,
         A.CityDivorce_NAME,
         A.StateMarriage_CODE,
         A.CityMarriage_NAME,
         A.IveParty_IDNO
    FROM DEMO_Y1 A
	WHERE A.MemberMci_IDNO = @An_MemberMci_IDNO
    AND A.Restricted_INDC <> @Ac_Restricted_INDC;
 END


GO
