/****** Object:  StoredProcedure [dbo].[APCS_INSERT_S2]    Script Date: 4/10/2015 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[APCS_INSERT_S2](
 @An_Application_IDNO                      NUMERIC(15),
 @Ad_Application_DATE                      DATE,
 @Ac_SignedOnWorker_ID                     CHAR(30),
 @An_TransactionEventSeq_NUMB              NUMERIC(19),
 @Ac_TypeCase_CODE                         CHAR(1),
 @Ad_Opened_DATE                           DATE,
 @Ac_StatusCase_CODE                       CHAR(1),
 @Ac_RsnStatusCase_CODE                    CHAR(2),
 @An_County_IDNO                           NUMERIC(3),
 @Ac_SourceRfrl_CODE                       CHAR(3),
 @Ac_MedicalOnly_INDC                      CHAR(1),
 @Ac_GoodCause_CODE                        CHAR(1),
 @Ad_GoodCause_DATE                        DATE,
 @Ac_NonCoop_CODE                          CHAR(1),
 @Ad_NonCoop_DATE                          DATE,
 @Ac_IvdApplicant_CODE                     CHAR(3),
 @Ad_AppReq_DATE                           DATE,
 @Ad_AppSent_DATE                          DATE,
 @Ad_AppRetd_DATE                          DATE,
 @Ad_AppSigned_DATE                        DATE,
 @Ac_RsnFeeWaived_CODE                     CHAR(2),
 @As_DescriptionComments_TEXT              VARCHAR(200),
 @Ac_ApplicationStatus_CODE                CHAR(1),
 @Ac_RespondInit_CODE                      CHAR(1),
 @Ad_Referral_DATE                         DATE,
 @Ac_CaseCategory_CODE                     CHAR(2),
 @Ac_ApplicationFee_CODE                   CHAR(1),
 @Ad_FeePaid_DATE                          DATE,
 @Ac_ServiceRequested_CODE                 CHAR(1),
 @Ac_File_ID                               CHAR(10),
 @An_CaseWelfare_IDNO                      NUMERIC(10),
 @Ac_TypeWelfare_CODE                      CHAR(1),
 @Ac_AddressPfaProtection_INDC             CHAR(1),
 @Ac_InformationReleaseRisk_INDC           CHAR(1),
 @Ac_ChildBirthCertificateStatus_CODE      CHAR(1),
 @Ac_ModifiedSupportOrderDecreeStatus_CODE CHAR(1),
 @Ac_PaymentArrearsStatementStatus_CODE    CHAR(1),
 @Ac_MarriedDivorceDecreeStatus_CODE       CHAR(1),
 @Ac_MemberSocialSecurityCardStatus_CODE   CHAR(1),
 @Ac_PayStubW2FormStatus_CODE              CHAR(1),
 @Ac_MedicalInsuranceCardStatus_CODE       CHAR(1),
 @Ac_ChildSupportOrMedicalAssistance_INDC  CHAR(1),
 @Ac_Service_CODE                          CHAR(1),
 @Ac_ServiceCounty_NAME                    CHAR(40),
 @Ac_ServiceState_CODE                     CHAR(2),
 @Ac_PreventAddressReleaseStatus_CODE      CHAR(1),
 @Ac_AttorneyCourt_TEXT                    CHAR(40),
 @Ac_StatusEnforce_CODE                    CHAR(4),
 @Ac_FeeCheckNo_TEXT                       CHAR(20),
 @Ac_PaternityAcknowledgmentStatus_CODE    CHAR(1),
 @Ac_AttorneyCounty_NAME                   CHAR(40),
 @Ac_AttorneyState_CODE                    CHAR(2),
 @An_TransHeader_IDNO                      NUMERIC(12, 0),
 @Ac_StateFips_CODE                        CHAR(2),
 @Ad_Transaction_DATE                      DATE,
 @Ac_Restricted_INDC                       CHAR(1)
 )
AS
 /*                                                                                          
  *     PROCEDURE NAME    : APCS_INSERT_S2                                                    
  *     DESCRIPTION       : Insert Case details at the time of Application Received,         
  *     DEVELOPED BY      : IMP Team                                                       
  *     DEVELOPED ON      : 02-MAR-2011                                                      
  *     MODIFIED BY       :                                                                  
  *     MODIFIED ON       :                                                                  
  *     VERSION NO        : 1                                                                
 */
 DECLARE @Ld_Systemdatetime_DTTM DATETIME2 = dbo.BATCH_COMMON_SCALAR$SF_SYS_DATE_TIME(),
         @Ld_High_DATE           DATE = '12/31/9999';

 BEGIN
  INSERT APCS_Y1
         (Application_IDNO,
          Application_DATE,
          BeginValidity_DATE,
          EndValidity_DATE,
          Update_DTTM,
          WorkerUpdate_ID,
          TransactionEventSeq_NUMB,
          TypeCase_CODE,
          Opened_DATE,
          StatusCase_CODE,
          StatusCurrent_DATE,
          RsnStatusCase_CODE,
          County_IDNO,
          SourceRfrl_CODE,
          Restricted_INDC,
          MedicalOnly_INDC,
          GoodCause_CODE,
          GoodCause_DATE,
          NonCoop_CODE,
          NonCoop_DATE,
          IvdApplicant_CODE,
          AppReq_DATE,
          AppSent_DATE,
          AppRetd_DATE,
          AppSigned_DATE,
          RsnFeeWaived_CODE,
          DescriptionComments_TEXT,
          ApplicationStatus_CODE,
          RespondInit_CODE,
          Referral_DATE,
          CaseCategory_CODE,
          ApplicationFee_CODE,
          FeePaid_DATE,
          ServiceRequested_CODE,
          File_ID,
          CaseWelfare_IDNO,
          TypeWelfare_CODE,
          AddressPfaProtection_INDC,
          InformationReleaseRisk_INDC,
          ChildBirthCertificateStatus_CODE,
          ModifiedSupportOrderDecreeStatus_CODE,
          PaymentArrearsStatementStatus_CODE,
          MarriedDivorceDecreeStatus_CODE,
          MemberSocialSecurityCardStatus_CODE,
          PayStubW2FormStatus_CODE,
          MedicalInsuranceCardStatus_CODE,
          AttorneyCourt_TEXT,
          ChildSupportOrMedicalAssistance_INDC,
          Service_CODE,
          ServiceCounty_NAME,
          ServiceState_CODE,
          PreventAddressReleaseStatus_CODE,
          StatusEnforce_CODE,
          FeeCheckNo_TEXT,
          PaternityAcknowledgmentStatus_CODE,
          AttorneyCounty_NAME,
          AttorneyState_CODE,
          TransHeader_IDNO,
          StateFips_CODE,
          Transaction_DATE)
  VALUES ( @An_Application_IDNO,
           @Ad_Application_DATE,
           @Ld_Systemdatetime_DTTM,
           @Ld_High_DATE,
           @Ld_Systemdatetime_DTTM,
           @Ac_SignedOnWorker_ID,
           @An_TransactionEventSeq_NUMB,
           @Ac_TypeCase_CODE,
           @Ad_Opened_DATE,
           @Ac_StatusCase_CODE,
           @Ld_Systemdatetime_DTTM,
           @Ac_RsnStatusCase_CODE,
           @An_County_IDNO,
           @Ac_SourceRfrl_CODE,
           @Ac_Restricted_INDC,
           @Ac_MedicalOnly_INDC,
           @Ac_GoodCause_CODE,
           @Ad_GoodCause_DATE,
           @Ac_NonCoop_CODE,
           @Ad_NonCoop_DATE,
           @Ac_IvdApplicant_CODE,
           @Ad_AppReq_DATE,
           @Ad_AppSent_DATE,
           @Ad_AppRetd_DATE,
           @Ad_AppSigned_DATE,
           @Ac_RsnFeeWaived_CODE,
           @As_DescriptionComments_TEXT,
           @Ac_ApplicationStatus_CODE,
           @Ac_RespondInit_CODE,
           @Ad_Referral_DATE,
           @Ac_CaseCategory_CODE,
           @Ac_ApplicationFee_CODE,
           @Ad_FeePaid_DATE,
           @Ac_ServiceRequested_CODE,
           @Ac_File_ID,
           @An_CaseWelfare_IDNO,
           @Ac_TypeWelfare_CODE,
           @Ac_AddressPfaProtection_INDC,
           @Ac_InformationReleaseRisk_INDC,
           @Ac_ChildBirthCertificateStatus_CODE,
           @Ac_ModifiedSupportOrderDecreeStatus_CODE,
           @Ac_PaymentArrearsStatementStatus_CODE,
           @Ac_MarriedDivorceDecreeStatus_CODE,
           @Ac_MemberSocialSecurityCardStatus_CODE,
           @Ac_PayStubW2FormStatus_CODE,
           @Ac_MedicalInsuranceCardStatus_CODE,
           @Ac_AttorneyCourt_TEXT,
           @Ac_ChildSupportOrMedicalAssistance_INDC,
           @Ac_Service_CODE,
           @Ac_ServiceCounty_NAME,
           @Ac_ServiceState_CODE,
           @Ac_PreventAddressReleaseStatus_CODE,
           @Ac_StatusEnforce_CODE,
           @Ac_FeeCheckNo_TEXT,
           @Ac_PaternityAcknowledgmentStatus_CODE,
           @Ac_AttorneyCounty_NAME,
           @Ac_AttorneyState_CODE,
           @An_TransHeader_IDNO,
           @Ac_StateFips_CODE,
           @Ad_Transaction_DATE );
 END; --End of APCS_INSERT_S2

GO
