/****** Object:  StoredProcedure [dbo].[CORB_RETRIEVE_S1]    Script Date: 4/10/2015 3:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CORB_RETRIEVE_S1] (
 @An_TransHeader_IDNO          NUMERIC(12, 0),
 @Ac_IVDOutOfStateFips_CODE    CHAR(2),
 @Ad_Transaction_DATE          DATE,
 @Ai_Record_NUMB               INT,
 @Ac_StFipsOrder_CODE          CHAR(2) OUTPUT,
 @Ac_CntyFipsOrder_CODE        CHAR(3) OUTPUT,
 @Ac_SubFipsOrder_CODE         CHAR(2) OUTPUT,
 @Ac_CsenetOrder_ID            CHAR(17) OUTPUT,
 @Ad_FilingOrder_DATE          DATE OUTPUT,
 @Ac_TypeOrder_CODE            CHAR(1) OUTPUT,
 @Ac_DebtType_CODE             CHAR(2) OUTPUT,
 @Ac_OrderFreq_CODE            CHAR(1) OUTPUT,
 @An_OrderFreq_AMNT            NUMERIC(11, 2) OUTPUT,
 @Ad_OrderEffective_DATE       DATE OUTPUT,
 @Ad_OrderEnd_DATE             DATE OUTPUT,
 @Ad_OrderCancel_DATE          DATE OUTPUT,
 @Ac_FreqOrderArrears_CODE     CHAR(1) OUTPUT,
 @An_FreqOrderArrears_AMNT     NUMERIC(11, 2) OUTPUT,
 @An_OrderArrearsTotal_AMNT    NUMERIC(11, 2) OUTPUT,
 @Ad_ArrearsAfdcFrom_DATE      DATE OUTPUT,
 @Ad_ArrearsAfdcThru_DATE      DATE OUTPUT,
 @An_ArrearsAfdc_AMNT          NUMERIC(11, 2) OUTPUT,
 @Ad_ArrearsNonAfdcFrom_DATE   DATE OUTPUT,
 @Ad_ArrearsNonAfdcThru_DATE   DATE OUTPUT,
 @An_ArrearsNonAfdc_AMNT       NUMERIC(11, 2) OUTPUT,
 @Ad_FosterCareFrom_DATE       DATE OUTPUT,
 @Ad_FosterCareThru_DATE       DATE OUTPUT,
 @An_FosterCare_AMNT           NUMERIC(11, 2) OUTPUT,
 @Ad_MedicalFrom_DATE          DATE OUTPUT,
 @Ad_MedicalThru_DATE          DATE OUTPUT,
 @An_Medical_AMNT              NUMERIC(11, 2) OUTPUT,
 @Ac_MedicalOrdered_INDC       CHAR(1) OUTPUT,
 @Ac_TribunalCaseNo_TEXT       CHAR(17) OUTPUT,
 @Ad_OfLastPayment_DATE        DATE OUTPUT,
 @Ac_ControllingOrderFlag_CODE CHAR(1) OUTPUT,
 @Ac_NewOrderFlag_INDC         CHAR(1) OUTPUT,
 @Ac_File_ID                   CHAR(15) OUTPUT,
 @An_RowCount_NUMB             NUMERIC(6, 0) OUTPUT
 )
AS
 /*    
  *     PROCEDURE NAME    : CORB_RETRIEVE_S1    
  *     DESCRIPTION       : Retrieve Csenet Order Block details for a Transaction Header Idno, Transaction Date, and Other State Fips Code.    
  *     DEVELOPED BY      : IMP Team    
  *     DEVELOPED ON      : 02-SEP-2011    
  *     MODIFIED BY       :     
  *     MODIFIED ON       :     
  *     VERSION NO        : 1    
  */
 BEGIN
  SELECT @Ac_StFipsOrder_CODE = NULL,
         @Ac_CntyFipsOrder_CODE = NULL,
         @Ac_SubFipsOrder_CODE = NULL,
         @Ac_CsenetOrder_ID = NULL,
         @Ad_FilingOrder_DATE = NULL,
         @Ac_TypeOrder_CODE = NULL,
         @Ac_DebtType_CODE = NULL,
         @Ac_OrderFreq_CODE = NULL,
         @An_OrderFreq_AMNT = NULL,
         @Ad_OrderEffective_DATE = NULL,
         @Ad_OrderEnd_DATE = NULL,
         @Ad_OrderCancel_DATE = NULL,
         @Ac_FreqOrderArrears_CODE = NULL,
         @An_FreqOrderArrears_AMNT = NULL,
         @An_OrderArrearsTotal_AMNT = NULL,
         @Ad_ArrearsAfdcFrom_DATE = NULL,
         @Ad_ArrearsAfdcThru_DATE = NULL,
         @An_ArrearsAfdc_AMNT = NULL,
         @Ad_ArrearsNonAfdcFrom_DATE = NULL,
         @Ad_ArrearsNonAfdcThru_DATE = NULL,
         @An_ArrearsNonAfdc_AMNT = NULL,
         @Ad_FosterCareFrom_DATE = NULL,
         @Ad_FosterCareThru_DATE = NULL,
         @An_FosterCare_AMNT = NULL,
         @Ad_MedicalFrom_DATE = NULL,
         @Ad_MedicalThru_DATE = NULL,
         @An_Medical_AMNT = NULL,
         @Ac_MedicalOrdered_INDC = NULL,
         @Ac_TribunalCaseNo_TEXT = NULL,
         @Ad_OfLastPayment_DATE = NULL,
         @Ac_ControllingOrderFlag_CODE = NULL,
         @Ac_NewOrderFlag_INDC = NULL,
         @Ac_File_ID = NULL,
         @An_RowCount_NUMB = NULL;

  SELECT @Ac_StFipsOrder_CODE = X.StFipsOrder_CODE,
         @Ac_CntyFipsOrder_CODE = X.CntyFipsOrder_CODE,
         @Ac_SubFipsOrder_CODE = X.SubFipsOrder_CODE,
         @Ac_CsenetOrder_ID = X.CsenetOrder_ID,
         @Ad_FilingOrder_DATE = X.FilingOrder_DATE,
         @Ac_TypeOrder_CODE = X.TypeOrder_CODE,
         @Ac_DebtType_CODE = X.DebtType_CODE,
         @Ac_OrderFreq_CODE = X.OrderFreq_CODE,
         @An_OrderFreq_AMNT = X.OrderFreq_AMNT,
         @Ad_OrderEffective_DATE = X.OrderEffective_DATE,
         @Ad_OrderEnd_DATE = X.OrderEnd_DATE,
         @Ad_OrderCancel_DATE = X.OrderCancel_DATE,
         @Ac_FreqOrderArrears_CODE = X.FreqOrderArrears_CODE,
         @An_FreqOrderArrears_AMNT = X.FreqOrderArrears_AMNT,
         @An_OrderArrearsTotal_AMNT = X.OrderArrearsTotal_AMNT,
         @Ad_ArrearsAfdcFrom_DATE = X.ArrearsAfdcFrom_DATE,
         @Ad_ArrearsAfdcThru_DATE = X.ArrearsAfdcThru_DATE,
         @An_ArrearsAfdc_AMNT = X.ArrearsAfdc_AMNT,
         @Ad_ArrearsNonAfdcFrom_DATE = X.ArrearsNonAfdcFrom_DATE,
         @Ad_ArrearsNonAfdcThru_DATE = X.ArrearsNonAfdcThru_DATE,
         @An_ArrearsNonAfdc_AMNT = X.ArrearsNonAfdc_AMNT,
         @Ad_FosterCareFrom_DATE = X.FosterCareFrom_DATE,
         @Ad_FosterCareThru_DATE = X.FosterCareThru_DATE,
         @An_FosterCare_AMNT = X.FosterCare_AMNT,
         @Ad_MedicalFrom_DATE = X.MedicalFrom_DATE,
         @Ad_MedicalThru_DATE = X.MedicalThru_DATE,
         @An_Medical_AMNT = X.Medical_AMNT,
         @Ac_MedicalOrdered_INDC = X.MedicalOrdered_INDC,
         @Ac_TribunalCaseNo_TEXT = X.TribunalCaseNo_TEXT,
         @Ad_OfLastPayment_DATE = X.OfLastPayment_DATE,
         @Ac_ControllingOrderFlag_CODE = X.ControllingOrderFlag_CODE,
         @Ac_NewOrderFlag_INDC = X.NewOrderFlag_INDC,
         @Ac_File_ID = X.File_ID,
         @An_RowCount_NUMB = X.row_count
    FROM (SELECT CO.StFipsOrder_CODE,
                 CO.CntyFipsOrder_CODE,
                 CO.SubFipsOrder_CODE,
                 CO.CsenetOrder_ID,
                 CO.FilingOrder_DATE,
                 CO.TypeOrder_CODE,
                 CO.DebtType_CODE,
                 CO.OrderFreq_CODE,
                 CO.OrderFreq_AMNT,
                 CO.OrderEffective_DATE,
                 CO.OrderEnd_DATE,
                 CO.OrderCancel_DATE,
                 CO.FreqOrderArrears_CODE,
                 CO.FreqOrderArrears_AMNT,
                 CO.OrderArrearsTotal_AMNT,
                 CO.ArrearsAfdcFrom_DATE,
                 CO.ArrearsAfdcThru_DATE,
                 CO.ArrearsAfdc_AMNT,
                 CO.ArrearsNonAfdcFrom_DATE,
                 CO.ArrearsNonAfdcThru_DATE,
                 CO.ArrearsNonAfdc_AMNT,
                 CO.FosterCareFrom_DATE,
                 CO.FosterCareThru_DATE,
                 CO.FosterCare_AMNT,
                 CO.MedicalFrom_DATE,
                 CO.MedicalThru_DATE,
                 CO.Medical_AMNT,
                 CO.MedicalOrdered_INDC,
                 CO.TribunalCaseNo_TEXT,
                 CO.OfLastPayment_DATE,
                 CO.ControllingOrderFlag_CODE,
                 CO.NewOrderFlag_INDC,
                 CO.File_ID,
                 ROW_NUMBER() OVER( ORDER BY CO.CsenetOrder_ID) AS Record_NUMB,
                 COUNT(1) OVER() AS row_count
            FROM CORB_Y1 CO
           WHERE CO.TransHeader_IDNO = @An_TransHeader_IDNO
             AND CO.Transaction_DATE = @Ad_Transaction_DATE
             AND CO.IVDOutOfStateFips_CODE = @Ac_IVDOutOfStateFips_CODE) AS X
   WHERE X.Record_NUMB = @Ai_Record_NUMB;
 END; --End of CORB_RETRIEVE_S1   

GO
