/****** Object:  StoredProcedure [dbo].[DEMO_INSERT_S1]    Script Date: 4/10/2015 3:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DEMO_INSERT_S1](
 @An_MemberMci_IDNO                   NUMERIC(10, 0),
 @An_Individual_IDNO                  NUMERIC(8, 0),
 @Ac_Last_NAME                        CHAR(20),
 @Ac_First_NAME                       CHAR(16),
 @Ac_Middle_NAME                      CHAR(20),
 @Ac_Suffix_NAME                      CHAR(4),
 @Ac_Title_NAME                       CHAR(8),
 @As_FullDisplay_NAME                 VARCHAR(60),
 @Ac_MemberSex_CODE                   CHAR(1),
 @An_MemberSsn_NUMB                   NUMERIC(9, 0),
 @Ad_Birth_DATE                       DATE,
 @Ad_Emancipation_DATE                DATE,
 @Ad_LastMarriage_DATE                DATE,
 @Ad_LastDivorce_DATE                 DATE,
 @Ac_BirthCity_NAME                   CHAR(28),
 @Ac_BirthState_CODE                  CHAR(2),
 @Ac_BirthCountry_CODE                CHAR(2),
 @Ac_DescriptionHeight_TEXT           CHAR(3),
 @Ac_DescriptionWeightLbs_TEXT        CHAR(3),
 @Ac_Race_CODE                        CHAR(1),
 @Ac_ColorHair_CODE                   CHAR(3),
 @Ac_ColorEyes_CODE                   CHAR(3),
 @Ac_FacialHair_INDC                  CHAR(1),
 @Ac_Language_CODE                    CHAR(3),
 @Ac_TypeProblem_CODE                 CHAR(3),
 @Ad_Deceased_DATE                    DATE,
 @Ac_CerDeathNo_TEXT                  CHAR(9),
 @Ac_LicenseDriverNo_TEXT             CHAR(25),
 @Ac_AlienRegistn_ID                  CHAR(10),
 @Ac_WorkPermitNo_TEXT                CHAR(10),
 @Ad_BeginPermit_DATE                 DATE,
 @Ad_EndPermit_DATE                   DATE,
 @An_HomePhone_NUMB                   NUMERIC(15, 0),
 @An_WorkPhone_NUMB                   NUMERIC(15, 0),
 @An_CellPhone_NUMB                   NUMERIC(15, 0),
 @An_Fax_NUMB                         NUMERIC(15, 0),
 @As_Contact_EML                      VARCHAR(100),
 @Ac_Spouse_NAME                      CHAR(40),
 @Ad_Graduation_DATE                  DATE,
 @Ac_EducationLevel_CODE              CHAR(2),
 @Ac_Restricted_INDC                  CHAR(1),
 @Ac_Military_ID                      CHAR(10),
 @Ac_MilitaryBranch_CODE              CHAR(2),
 @Ac_MilitaryStatus_CODE              CHAR(2),
 @Ac_MilitaryBenefitStatus_CODE       CHAR(2),
 @Ac_SecondFamily_INDC                CHAR(1),
 @Ac_MeansTestedInc_INDC              CHAR(1),
 @Ac_SsIncome_INDC                    CHAR(1),
 @Ac_VeteranComps_INDC                CHAR(1),
 @Ac_Assistance_CODE                  CHAR(3),
 @Ac_DescriptionIdentifyingMarks_TEXT CHAR(40),
 @Ac_Divorce_INDC                     CHAR(1),
 @Ac_SignedOnWorker_ID                CHAR(30),
 @An_TransactionEventSeq_NUMB         NUMERIC(19, 0),
 @Ac_Disable_INDC                     CHAR(1),
 @Ac_TypeOccupation_CODE              CHAR(3),
 @An_CountyBirth_IDNO                 NUMERIC(3, 0),
 @Ac_MotherMaiden_NAME                CHAR(30),
 @Ac_FileLastDivorce_ID               CHAR(15),
 @Ac_StateMarriage_CODE               CHAR(2),
 @Ac_StateDivorce_CODE                CHAR(2),
 @An_IveParty_IDNO                    NUMERIC(10)
 )
AS
 /*                                                                                                                                                               
  *     PROCEDURE NAME    : DEMO_INSERT_S1                                                                                                                         
  *     DESCRIPTION       : Insert values in Member Demographics.                                                                                                 
  *     DEVELOPED BY      : IMP Team  
  *     DEVELOPED ON      : 02-NOV-2011                                                                                                                           
  *     MODIFIED BY       :                                                                                                                                       
  *     MODIFIED ON       :                                                                                                                                       
  *     VERSION NO        : 1                                                                                                                                     
 */
 BEGIN
  DECLARE @Ld_Systemdatetime_DTTM DATETIME2 = DBO.BATCH_COMMON_SCALAR$SF_SYS_DATE_TIME(),
          @Lc_Space_TEXT          CHAR(1) = ' ',
          @Li_Zero_NUMB           SMALLINT = 0;

  INSERT DEMO_Y1
         (MemberMci_IDNO,
          Individual_IDNO,
          Last_NAME,
          First_NAME,
          Middle_NAME,
          Suffix_NAME,
          Title_NAME,
          FullDisplay_NAME,
          MemberSex_CODE,
          MemberSsn_NUMB,
          Birth_DATE,
          Emancipation_DATE,
          LastMarriage_DATE,
          LastDivorce_DATE,
          BirthCity_NAME,
          BirthState_CODE,
          BirthCountry_CODE,
          DescriptionHeight_TEXT,
          DescriptionWeightLbs_TEXT,
          Race_CODE,
          ColorHair_CODE,
          ColorEyes_CODE,
          FacialHair_INDC,
          Language_CODE,
          TypeProblem_CODE,
          Deceased_DATE,
          CerDeathNo_TEXT,
          LicenseDriverNo_TEXT,
          AlienRegistn_ID,
          WorkPermitNo_TEXT,
          BeginPermit_DATE,
          EndPermit_DATE,
          HomePhone_NUMB,
          WorkPhone_NUMB,
          CellPhone_NUMB,
          Fax_NUMB,
          Contact_EML,
          Spouse_NAME,
          Graduation_DATE,
          EducationLevel_CODE,
          Restricted_INDC,
          Military_ID,
          MilitaryBranch_CODE,
          MilitaryStatus_CODE,
          MilitaryBenefitStatus_CODE,
          SecondFamily_INDC,
          MeansTestedInc_INDC,
          SsIncome_INDC,
          VeteranComps_INDC,
          Assistance_CODE,
          DescriptionIdentifyingMarks_TEXT,
          Divorce_INDC,
          BeginValidity_DATE,
          WorkerUpdate_ID,
          TransactionEventSeq_NUMB,
          Update_DTTM,
          Disable_INDC,
          TypeOccupation_CODE,
          CountyBirth_IDNO,
          MotherMaiden_NAME,
          FileLastDivorce_ID,
          TribalAffiliations_CODE,
          FormerMci_IDNO,
          StateMarriage_CODE,
          StateDivorce_CODE,
          IveParty_IDNO,
          CityDivorce_NAME,
          CityMarriage_NAME)
  VALUES ( @An_MemberMci_IDNO,
           @An_Individual_IDNO,
           @Ac_Last_NAME,
           @Ac_First_NAME,
           @Ac_Middle_NAME,
           @Ac_Suffix_NAME,
           @Ac_Title_NAME,
           @As_FullDisplay_NAME,
           @Ac_MemberSex_CODE,
           @An_MemberSsn_NUMB,
           @Ad_Birth_DATE,
           @Ad_Emancipation_DATE,
           @Ad_LastMarriage_DATE,
           @Ad_LastDivorce_DATE,
           @Ac_BirthCity_NAME,
           @Ac_BirthState_CODE,
           @Ac_BirthCountry_CODE,
           @Ac_DescriptionHeight_TEXT,
           @Ac_DescriptionWeightLbs_TEXT,
           @Ac_Race_CODE,
           @Ac_ColorHair_CODE,
           @Ac_ColorEyes_CODE,
           @Ac_FacialHair_INDC,
           @Ac_Language_CODE,
           @Ac_TypeProblem_CODE,
           @Ad_Deceased_DATE,
           @Ac_CerDeathNo_TEXT,
           @Ac_LicenseDriverNo_TEXT,
           @Ac_AlienRegistn_ID,
           @Ac_WorkPermitNo_TEXT,
           @Ad_BeginPermit_DATE,
           @Ad_EndPermit_DATE,
           @An_HomePhone_NUMB,
           @An_WorkPhone_NUMB,
           @An_CellPhone_NUMB,
           @An_Fax_NUMB,
           @As_Contact_EML,
           @Ac_Spouse_NAME,
           @Ad_Graduation_DATE,
           @Ac_EducationLevel_CODE,
           @Ac_Restricted_INDC,
           @Ac_Military_ID,
           @Ac_MilitaryBranch_CODE,
           @Ac_MilitaryStatus_CODE,
           @Ac_MilitaryBenefitStatus_CODE,
           @Ac_SecondFamily_INDC,
           @Ac_MeansTestedInc_INDC,
           @Ac_SsIncome_INDC,
           @Ac_VeteranComps_INDC,
           @Ac_Assistance_CODE,
           @Ac_DescriptionIdentifyingMarks_TEXT,
           @Ac_Divorce_INDC,
           @Ld_Systemdatetime_DTTM,
           @Ac_SignedOnWorker_ID,
           @An_TransactionEventSeq_NUMB,
           @Ld_Systemdatetime_DTTM,
           @Ac_Disable_INDC,
           @Ac_TypeOccupation_CODE,
           @An_CountyBirth_IDNO,
           @Ac_MotherMaiden_NAME,
           @Ac_FileLastDivorce_ID,
           @Lc_Space_TEXT,
           @Li_Zero_NUMB,
           @Ac_StateMarriage_CODE,
           @Ac_StateDivorce_CODE,
           @An_IveParty_IDNO,
           @Lc_Space_TEXT,
           @Lc_Space_TEXT);
 END; --End of DEMO_INSERT_S1

GO
