/****** Object:  StoredProcedure [dbo].[EMRG_UPDATE_S1]    Script Date: 4/10/2015 3:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EMRG_UPDATE_S1] (
 @An_OthpEmplPrimary_IDNO		NUMERIC(9,0),
 @An_OthpEmplSecondary_IDNO		NUMERIC(9,0),
 @An_TransactionEventSeq_NUMB	NUMERIC(19,0)
 )
AS

/*
 *     PROCEDURE NAME    : EMRG_UPDATE_S1
 *     DESCRIPTION       : Logically delete the record in Employer Merge table for Unique Employer ID generated by the system as Other party ID in the system (This is the primary ID that will replace the secondary value that needs to be merged), Unique Employer ID generated by the system as Other party ID in the system (This is the ID value that will get replaced with the primary ID that needs to be merged) and Unique Sequence Number that will be generated for any given Transaction on the Table.
 *     DEVELOPED BY      : IMP Team
 *     DEVELOPED ON      : 23-DEC-2011
 *     MODIFIED BY       : 
 *     MODIFIED ON       : 
 *     VERSION NO        : 1
*/

 BEGIN
	DECLARE @Ld_High_DATE         	DATE = '12/31/9999',
    	    @Ld_Current_DATE      	DATE = DBO.BATCH_COMMON_SCALAR$SF_SYS_DATE_TIME(),
            @Ln_RowsAffected_NUMB	NUMERIC(10);

 UPDATE EMRG_Y1
    SET EndValidity_DATE = @Ld_Current_DATE
  WHERE OthpEmplPrimary_IDNO = @An_OthpEmplPrimary_IDNO 
    AND OthpEmplSecondary_IDNO = @An_OthpEmplSecondary_IDNO 
    AND TransactionEventSeq_NUMB = @An_TransactionEventSeq_NUMB
    AND EndValidity_DATE = @Ld_High_DATE ;
      
  SET @Ln_RowsAffected_NUMB = @@ROWCOUNT;

  SELECT @Ln_RowsAffected_NUMB AS RowsAffected_NUMB;
  
END; -- END OF EMRG_UPDATE_S1 


GO
