/****** Object:  StoredProcedure [dbo].[EMRG_INSERT_S2]    Script Date: 4/10/2015 3:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EMRG_INSERT_S2](
 @An_OthpEmplPrimary_IDNO		NUMERIC(9,0),
 @An_OthpEmplSecondary_IDNO		NUMERIC(9,0),
 @An_TransactionEventSeq_NUMB	NUMERIC(19,0),
 @Ac_StatusMerge_CODE			CHAR(1),
 @Ac_IwnGenerate_INDC		 	CHAR(1),               
 @Ac_SignedOnWorker_ID		 	CHAR(30)
 )
AS

/*
 *     PROCEDURE NAME    : EMRG_INSERT_S2
 *     DESCRIPTION       : Insert Employer Merge Request details with new Sequence Event Transaction, Unique Employer ID generated by the system as Other party ID in the system (This is the primary ID that will replace the secondary value that needs to be merged), Unique Employer ID generated by the system as Other party ID in the system (This is the ID value that will get replaced with the primary ID that needs to be merged), status of the merge equal to PENDING (P) and Indicator to Store whether an Income withholding notice should be generated for the members to this merged employer into Employer Merge table. 
 *     DEVELOPED BY      : IMP Team
 *     DEVELOPED ON      : 23-DEC-2011
 *     MODIFIED BY       : 
 *     MODIFIED ON       : 
 *     VERSION NO        : 1
*/
 BEGIN
  DECLARE @Ld_Current_DATE        DATE = DBO.BATCH_COMMON_SCALAR$SF_SYS_DATE_TIME(),
          @Ld_Systemdatetime_DTTM DATETIME2 = DBO.BATCH_COMMON_SCALAR$SF_SYS_DATE_TIME();
                    
	INSERT EMRG_Y1
		  (OthpEmplPrimary_IDNO, 
           OthpEmplSecondary_IDNO, 
           StatusMerge_CODE, 
           BeginValidity_DATE, 
           EndValidity_DATE, 
           WorkerUpdate_ID, 
           Update_DTTM, 
           TransactionEventSeq_NUMB, 
           IwnGenerate_INDC)
    VALUES( @An_OthpEmplPrimary_IDNO, 
            @An_OthpEmplSecondary_IDNO, 
            @Ac_StatusMerge_CODE, 
            @Ld_Current_DATE, 
            @Ld_Current_DATE, 
            @Ac_SignedOnWorker_ID,
            @Ld_Systemdatetime_DTTM, 
            @An_TransactionEventSeq_NUMB, 
            @Ac_IwnGenerate_INDC );

END; --END OF EMRG_INSERT_S2  


GO
