USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Trans3Printed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'RejectReason_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'ErrorReason_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CsenetVersion_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'End_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Info_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Collection_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Order_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Participant_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'NcpLoc_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Ncp_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CaseData_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Attachments_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'ActionResolution_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Overdue_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Response_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Due_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'TimeSent_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'InterstateFrmsPrint_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'AttachDue_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Received_DTTM'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'TranStatus_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'ExchangeMode_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Reason_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Action_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Function_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CsenetTran_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateOfficeFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateCountyFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateCase_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'OfficeFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IoDirection_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Message_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'StateFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'TransHeader_IDNO'

GO
/****** Object:  Index [INX_CTHB_ID_CASE_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP INDEX [INX_CTHB_ID_CASE_I1] ON [dbo].[CsenetTransHeaderBlocks_T1]
GO
/****** Object:  Table [dbo].[CsenetTransHeaderBlocks_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[CsenetTransHeaderBlocks_T1]
GO
/****** Object:  Table [dbo].[CsenetTransHeaderBlocks_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CsenetTransHeaderBlocks_T1](
	[TransHeader_IDNO] [numeric](12, 0) IDENTITY(1,1) NOT NULL,
	[StateFips_CODE] [char](2) NOT NULL,
	[Transaction_DATE] [date] NOT NULL,
	[Message_ID] [char](11) NOT NULL,
	[IoDirection_CODE] [char](1) NOT NULL,
	[CountyFips_CODE] [char](3) NOT NULL,
	[OfficeFips_CODE] [char](2) NOT NULL,
	[IVDOutOfStateCase_ID] [char](15) NOT NULL,
	[IVDOutOfStateFips_CODE] [char](2) NOT NULL,
	[IVDOutOfStateCountyFips_CODE] [char](3) NOT NULL,
	[IVDOutOfStateOfficeFips_CODE] [char](2) NOT NULL,
	[CsenetTran_ID] [char](12) NOT NULL,
	[Function_CODE] [char](3) NOT NULL,
	[Action_CODE] [char](1) NOT NULL,
	[Reason_CODE] [char](5) NOT NULL,
	[Case_IDNO] [numeric](6, 0) NOT NULL,
	[ExchangeMode_CODE] [char](1) NOT NULL,
	[TranStatus_CODE] [char](2) NOT NULL,
	[Received_DTTM] [datetime2](7) NOT NULL,
	[AttachDue_DATE] [date] NOT NULL,
	[InterstateFrmsPrint_CODE] [char](1) NOT NULL,
	[TimeSent_DATE] [date] NOT NULL,
	[Due_DATE] [date] NOT NULL,
	[Response_DATE] [date] NOT NULL,
	[Overdue_CODE] [char](1) NOT NULL,
	[WorkerUpdate_ID] [char](30) NOT NULL,
	[ActionResolution_DATE] [date] NOT NULL,
	[Attachments_INDC] [char](1) NOT NULL,
	[CaseData_QNTY] [numeric](1, 0) NOT NULL,
	[Ncp_QNTY] [numeric](1, 0) NOT NULL,
	[NcpLoc_QNTY] [numeric](1, 0) NOT NULL,
	[Participant_QNTY] [numeric](1, 0) NOT NULL,
	[Order_QNTY] [numeric](1, 0) NOT NULL,
	[Collection_QNTY] [numeric](1, 0) NOT NULL,
	[Info_QNTY] [numeric](1, 0) NOT NULL,
	[End_DATE] [date] NOT NULL,
	[CsenetVersion_ID] [char](3) NOT NULL,
	[ErrorReason_CODE] [char](2) NOT NULL,
	[RejectReason_CODE] [char](5) NOT NULL,
	[Transaction_IDNO] [numeric](12, 0) NOT NULL,
	[Trans3Printed_INDC] [char](1) NOT NULL,
 CONSTRAINT [CTHB_I1] PRIMARY KEY CLUSTERED 
(
	[TransHeader_IDNO] ASC,
	[IVDOutOfStateFips_CODE] ASC,
	[Transaction_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [INX_CTHB_ID_CASE_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
CREATE NONCLUSTERED INDEX [INX_CTHB_ID_CASE_I1] ON [dbo].[CsenetTransHeaderBlocks_T1]
(
	[Case_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'A unique ID generated by the system to indicate the record. This is the key value by which the record will be  identified.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'TransHeader_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Local-FIPS-State must contain valid FIPS codes. Possible values are limited by values in FIPS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'StateFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'3', @value=N'Transaction Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Message ID.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Message_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'IN/OUT transaction Direction. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IoDirection_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'County FIPS code. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The value of the Local-FIPS-Sub portion of the FIPS code will not be edited. Possible values are limited by values in FIPS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'OfficeFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Case ID used by the sending jurisdiction with which you are communicating.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateCase_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'State FIPS for the state with which you are communicating.  Possible values are limited by values in FIPS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'County FIPS for the state with which you are communicating. Possible values are limited by values in FIPS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateCountyFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The value of the Local-FIPS-Sub portion of the FIPS code will not be edited. Possible values are limited by values in FIPS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateOfficeFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Transaction ID.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CsenetTran_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the Function code for which this request is made. This is one of the components in the FAR combination. Possible values are obtained from REFM(INTS/FUNC).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Function_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the Action code for which this request is made. This is one of the components in the FAR combination. Values are obtained from REFM(INTS/ACTN).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Action_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the Reason code for which this request is made. This is one of the components in the FAR combination. Possible values are REFM(INTS/FARC).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Reason_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Unique ID generated for the DACSES  Case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Transaction Mode whether its Paper / CSENET. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'ExchangeMode_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Transaction Type. Values are retrieved from REFM (ICOR/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'TranStatus_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Received Date and time.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Received_DTTM'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Attachment Due Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'AttachDue_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for Interstate  forms Printed. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'InterstateFrmsPrint_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Sent Date (Stores both date and time).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'TimeSent_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Due Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Due_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Response Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Response_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Overdue Indicator. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Overdue_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the worker ID who created/modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Action Resolution Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'ActionResolution_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Attachment Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Attachments_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Case Data Block Indicator. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CaseData_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Data Block Indicator Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Ncp_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Location Indicator. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'NcpLoc_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Participant Indicator. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Participant_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Order Block Indicator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Order_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Collection block indicator. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Collection_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Information Block Indicator. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Info_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'End Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'End_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'CSENET Version.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'CsenetVersion_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Error Reason Code. Possible values will be  determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'ErrorReason_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Reject Reason. Values will be  determined in the subsequent technical designs.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'RejectReason_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Transaction Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator to store the value whether the UIFSA Form is printed or not. Valid values are Y or N.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1', @level2type=N'COLUMN',@level2name=N'Trans3Printed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table hold data for Main Header Data Block  for incoming and outgoing CSENET transactions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetTransHeaderBlocks_T1'
GO
