USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerEin_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ProfessionalLicenses_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3Year_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3Qtr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Confirmed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer3_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer3_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Phone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3State_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3City_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Line2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Line1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Ein_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2Year_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2Qtr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Confirmed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer2_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer2_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Phone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2State_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2City_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Line2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Line1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Ein_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerEffective_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailAddress_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResAddress_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'PolicyInsNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'InsCarrier_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WageYear_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WageQtr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerConfirmed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerEin_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Occupation_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseSuffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Suffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Suffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Suffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'DriversLicenseNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'DriversLicenseState_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WorkPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingConfirmed_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndMailing_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveMailing_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialConfirmed_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndResidential_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveResidential_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'TransHeader_IDNO'

GO
/****** Object:  Table [dbo].[CsenetNcpLocateBlocks_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[CsenetNcpLocateBlocks_T1]
GO
/****** Object:  Table [dbo].[CsenetNcpLocateBlocks_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CsenetNcpLocateBlocks_T1](
	[TransHeader_IDNO] [numeric](12, 0) NOT NULL,
	[IVDOutOfStateFips_CODE] [char](2) NOT NULL,
	[Transaction_DATE] [date] NOT NULL,
	[ResidentialLine1_ADDR] [char](25) NOT NULL,
	[ResidentialLine2_ADDR] [char](25) NOT NULL,
	[ResidentialCity_ADDR] [char](18) NOT NULL,
	[ResidentialState_ADDR] [char](2) NOT NULL,
	[ResidentialZip_ADDR] [char](15) NOT NULL,
	[MailingLine1_ADDR] [char](25) NOT NULL,
	[MailingLine2_ADDR] [char](25) NOT NULL,
	[MailingCity_ADDR] [char](18) NOT NULL,
	[MailingState_ADDR] [char](2) NOT NULL,
	[MailingZip_ADDR] [char](15) NOT NULL,
	[EffectiveResidential_DATE] [date] NOT NULL,
	[EndResidential_DATE] [date] NOT NULL,
	[ResidentialConfirmed_CODE] [char](1) NOT NULL,
	[EffectiveMailing_DATE] [date] NOT NULL,
	[EndMailing_DATE] [date] NOT NULL,
	[MailingConfirmed_CODE] [char](1) NOT NULL,
	[HomePhone_NUMB] [numeric](15, 0) NOT NULL,
	[WorkPhone_NUMB] [numeric](15, 0) NOT NULL,
	[DriversLicenseState_CODE] [char](2) NOT NULL,
	[DriversLicenseNo_TEXT] [char](20) NOT NULL,
	[Alias1First_NAME] [char](16) NOT NULL,
	[Alias1Middle_NAME] [char](16) NOT NULL,
	[Alias1Last_NAME] [char](21) NOT NULL,
	[Alias1Suffix_NAME] [char](3) NOT NULL,
	[Alias2First_NAME] [char](16) NOT NULL,
	[Alias2Middle_NAME] [char](16) NOT NULL,
	[Alias2Last_NAME] [char](21) NOT NULL,
	[Alias2Suffix_NAME] [char](3) NOT NULL,
	[Alias3First_NAME] [char](16) NOT NULL,
	[Alias3Middle_NAME] [char](16) NOT NULL,
	[Alias3Last_NAME] [char](21) NOT NULL,
	[Alias3Suffix_NAME] [char](3) NOT NULL,
	[SpouseLast_NAME] [char](21) NOT NULL,
	[SpouseFirst_NAME] [char](16) NOT NULL,
	[SpouseMiddle_NAME] [char](16) NOT NULL,
	[SpouseSuffix_NAME] [char](4) NOT NULL,
	[Occupation_TEXT] [char](32) NOT NULL,
	[EmployerEin_ID] [char](9) NOT NULL,
	[Employer_NAME] [varchar](60) NOT NULL,
	[EmployerLine1_ADDR] [char](25) NOT NULL,
	[EmployerLine2_ADDR] [char](25) NOT NULL,
	[EmployerCity_ADDR] [char](18) NOT NULL,
	[EmployerState_ADDR] [char](2) NOT NULL,
	[EmployerZip_ADDR] [char](15) NOT NULL,
	[EmployerPhone_NUMB] [numeric](10, 0) NOT NULL,
	[EffectiveEmployer_DATE] [date] NOT NULL,
	[EndEmployer_DATE] [date] NOT NULL,
	[EmployerConfirmed_INDC] [char](1) NOT NULL,
	[WageQtr_CODE] [char](1) NOT NULL,
	[WageYear_NUMB] [numeric](4, 0) NOT NULL,
	[Wage_AMNT] [numeric](11, 2) NOT NULL,
	[InsCarrier_NAME] [char](36) NOT NULL,
	[PolicyInsNo_TEXT] [char](20) NOT NULL,
	[LastResidentialLine1_ADDR] [char](25) NOT NULL,
	[LastResidentialLine2_ADDR] [char](25) NOT NULL,
	[LastResidentialCity_ADDR] [char](18) NOT NULL,
	[LastResidentialState_ADDR] [char](2) NOT NULL,
	[LastResidentialZip_ADDR] [char](15) NOT NULL,
	[LastResAddress_DATE] [date] NOT NULL,
	[LastMailLine1_ADDR] [char](25) NOT NULL,
	[LastMailLine2_ADDR] [char](25) NOT NULL,
	[LastMailCity_ADDR] [char](18) NOT NULL,
	[LastMailState_ADDR] [char](2) NOT NULL,
	[LastMailZip_ADDR] [char](15) NOT NULL,
	[LastMailAddress_DATE] [date] NOT NULL,
	[LastEmployer_NAME] [char](40) NOT NULL,
	[LastEmployer_DATE] [date] NOT NULL,
	[LastEmployerLine1_ADDR] [char](25) NOT NULL,
	[LastEmployerLine2_ADDR] [char](25) NOT NULL,
	[LastEmployerCity_ADDR] [char](18) NOT NULL,
	[LastEmployerState_ADDR] [char](2) NOT NULL,
	[LastEmployerZip_ADDR] [char](15) NOT NULL,
	[LastEmployerEffective_DATE] [date] NOT NULL,
	[Employer2Ein_ID] [char](9) NOT NULL,
	[Employer2_NAME] [char](40) NOT NULL,
	[Employer2Line1_ADDR] [char](25) NOT NULL,
	[Employer2Line2_ADDR] [char](25) NOT NULL,
	[Employer2City_ADDR] [char](18) NOT NULL,
	[Employer2State_ADDR] [char](2) NOT NULL,
	[Employer2Zip_ADDR] [char](15) NOT NULL,
	[Employer2Phone_NUMB] [numeric](10, 0) NOT NULL,
	[EffectiveEmployer2_DATE] [date] NOT NULL,
	[EndEmployer2_DATE] [date] NOT NULL,
	[Employer2Confirmed_INDC] [char](1) NOT NULL,
	[Wage2Qtr_CODE] [char](1) NOT NULL,
	[Wage2Year_NUMB] [numeric](4, 0) NOT NULL,
	[Wage2_AMNT] [numeric](11, 2) NOT NULL,
	[Employer3Ein_ID] [char](9) NOT NULL,
	[Employer3_NAME] [char](40) NOT NULL,
	[Employer3Line1_ADDR] [char](25) NOT NULL,
	[Employer3Line2_ADDR] [char](25) NOT NULL,
	[Employer3City_ADDR] [char](18) NOT NULL,
	[Employer3State_ADDR] [char](2) NOT NULL,
	[Employer3Zip_ADDR] [char](15) NOT NULL,
	[Employer3Phone_NUMB] [numeric](10, 0) NOT NULL,
	[EffectiveEmployer3_DATE] [date] NOT NULL,
	[EndEmployer3_DATE] [date] NOT NULL,
	[Employer3Confirmed_INDC] [char](1) NOT NULL,
	[Wage3Qtr_CODE] [char](1) NOT NULL,
	[Wage3Year_NUMB] [numeric](4, 0) NOT NULL,
	[Wage3_AMNT] [numeric](11, 2) NOT NULL,
	[ProfessionalLicenses_TEXT] [varchar](50) NOT NULL,
	[LastEmployerEin_ID] [char](9) NOT NULL,
 CONSTRAINT [CNLB_I1] PRIMARY KEY CLUSTERED 
(
	[TransHeader_IDNO] ASC,
	[IVDOutOfStateFips_CODE] ASC,
	[Transaction_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'The link to the TRANSACTION_HEADER_BLOCK record that holds the corresponding CSENet Transaction.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'TransHeader_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'State FIPS for the state with which you are communicating. Possible values are limited by values in FIPS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'3', @value=N'Transaction Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential Address1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential Address2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential ZIP1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing Address1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing Address2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing ZIP1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when it was discovered that the NCP resided at the address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveResidential_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the residential address became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndResidential_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the residential address has been confirmed. Valid values for this field are Y - Address Verified, N - Address Not Verified, P - Partial Address Only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialConfirmed_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the mailing address was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveMailing_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the mailing address became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndMailing_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the mailing address has been confirmed. Valid values for this field are Y - Address Verified, N - Address Not Verified, P - Partial Address Only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingConfirmed_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Home Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Work Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WorkPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State Drivers License number. Possible values are limited by values in STAT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'DriversLicenseState_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'License number of the state in which the NCP has a driver license.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'DriversLicenseNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias First Name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Middle Name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Last Name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Suffix.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Suffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias First Name2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Middle Name2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Last Name2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Suffix2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Suffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias First Name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Middle Name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Last Name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Suffix3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Suffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse''s suffix.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseSuffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Occupation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Occupation_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Federal Employer Identification Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerEin_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Employer Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer Address1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer Address2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer ZIP1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer Phone.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the employer was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the employer became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the employer has been confirmed. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerConfirmed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'One calendar quarter''s worth of wages received from the current employer listed. Valid values for this field are 1 for 1st Quarter, 2 for 2nd Quarter,3 for 3rd Quarter, 4 for 4th Quarter. If any of the Wage fields are filled, all three must be filled. If unused, the field must be blank-filled. Values are obtained from REFM (CSEN/WQTR).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WageQtr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The calendar year for the quarter the wages were earned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WageYear_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Amount of wages from the quarter and year listed above.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP medical insurance carrier.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'InsCarrier_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP medical insurance policy number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'PolicyInsNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The last known residential address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The last known residential address line2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known residential address City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known residential address State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known residential five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResidentialZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date when the last residential address was discovered to be invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResAddress_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last known mailing address for this particular NCP.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Line 2 of NCP last known mailing address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known mailing address City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known mailing address State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known mailing five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date when the NCP last mailing address was discovered to be invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailAddress_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Date the NCP was most recently employed at this employer.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Line 1 of NCP last known employer''s address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Line 2 of NCP last known employer''s address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer five-digit Zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date when the Last-Employer-Effective-Date was discovered to be invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerEffective_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Federal Employer Identification Number (EIN) for Employer2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Ein_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP current multiple employers.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Line 1 of NCP Employer2 address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Line1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Line 2 of NCP Employer2 address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Line2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer2 City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2City_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer2 State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2State_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer2 five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer2 Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Phone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the Employer2 was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer2_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when Employer2 became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer2_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the Employer2 has been confirmed. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Confirmed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'One calendar quarter''s worth of wages received from the Employer2 listed. Values are obtained from REFM (CSEN/WQTR).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2Qtr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The calendar year for the quarter the wages were earned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2Year_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Amount of wages from the quarter and year listed above.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Federal Employer Identification Number (EIN) for Employer3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Ein_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP current multiple employers, this is occurrence 3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Line 1 of NCP Employer3 address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Line1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Line 2 of NCP Employer3 address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Line2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer3 City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3City_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer3 State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3State_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer3 five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer3 Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Phone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the Employer3 was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer3_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when Employer3 became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer3_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the Employer3 has been confirmed. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Confirmed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'One calendar quarter''s worth of wages received from the Employer2 listed. Values are obtained from REFM (CSEN/WQTR).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3Qtr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The calendar year for the quarter the wages were earned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3Year_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Amount of wages from the quarter and year listed above.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Any known professional licenses for the NCP.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ProfessionalLicenses_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last Federal Employer Identification Number (FEIN).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerEin_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table hold data for NCP Locate Data Block  for incoming and outgoing CSENET transactions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CsenetNcpLocateBlocks_T1'
GO
