USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Undistributed_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SpousalSupport2_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport6_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport5_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalSupport2_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Sub1Arrears_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport4_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalArrears_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'VoluntarySupport_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalSupport_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SpousalSupport_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport3_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalSupport1_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'OutOfStateArr_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'ForsterCareArr_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SpousalSupport1_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport2_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'ApplicationFees_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Afdc_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport1_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SupportObligation_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SummaryType_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Summary_Date'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
/****** Object:  Table [dbo].[FrozenCaseStatementSummary_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[FrozenCaseStatementSummary_T1]
GO
/****** Object:  Table [dbo].[FrozenCaseStatementSummary_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FrozenCaseStatementSummary_T1](
	[Case_IDNO] [numeric](6, 0) NOT NULL,
	[Summary_Date] [date] NOT NULL,
	[SummaryType_CODE] [char](4) NOT NULL,
	[SupportObligation_AMNT] [numeric](11, 2) NOT NULL,
	[CurrentSupport1_AMNT] [numeric](11, 2) NOT NULL,
	[Afdc_AMNT] [numeric](11, 2) NOT NULL,
	[ApplicationFees_AMNT] [numeric](11, 2) NOT NULL,
	[CurrentSupport2_AMNT] [numeric](11, 2) NOT NULL,
	[SpousalSupport1_AMNT] [numeric](11, 2) NOT NULL,
	[ForsterCareArr_AMNT] [numeric](11, 2) NOT NULL,
	[OutOfStateArr_AMNT] [numeric](11, 2) NOT NULL,
	[MedicalSupport1_AMNT] [numeric](11, 2) NOT NULL,
	[CurrentSupport3_AMNT] [numeric](11, 2) NOT NULL,
	[SpousalSupport_AMNT] [numeric](11, 2) NOT NULL,
	[MedicalSupport_AMNT] [numeric](11, 2) NOT NULL,
	[VoluntarySupport_AMNT] [numeric](11, 2) NOT NULL,
	[MedicalArrears_AMNT] [numeric](11, 2) NOT NULL,
	[CurrentSupport4_AMNT] [numeric](11, 2) NOT NULL,
	[Sub1Arrears_AMNT] [numeric](11, 2) NOT NULL,
	[MedicalSupport2_AMNT] [numeric](11, 2) NOT NULL,
	[CurrentSupport5_AMNT] [numeric](11, 2) NOT NULL,
	[CurrentSupport6_AMNT] [numeric](11, 2) NOT NULL,
	[SpousalSupport2_AMNT] [numeric](11, 2) NOT NULL,
	[Undistributed_AMNT] [numeric](11, 2) NOT NULL,
 CONSTRAINT [FCSUM_I1] PRIMARY KEY CLUSTERED 
(
	[Case_IDNO] ASC,
	[Summary_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FROZEN]
) ON [FROZEN]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Summary Case Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'Summary date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Summary_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Labeled as SOM for Summary of the Month' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SummaryType_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Support Obligation amount for CURSUP column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SupportObligation_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Support arrears 1 Amount for CUSTA1 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport1_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'AFDC arrears or obligation Amount for AFDCA column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Afdc_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Application fees amount ‘GT’ for APFEES column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'ApplicationFees_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Support arrears 2 Amount for CUSTA2 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport2_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spousal Support Amount for CUSTS1 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SpousalSupport1_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Foster Care Arrears Amount for FCAREA column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'ForsterCareArr_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Out of state arrears amount for OSTATA column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'OutOfStateArr_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Medical Support 1 Amount for CUSTM1 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalSupport1_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Support arrears 3 Amount for CUSTA3 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport3_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spousal Support arrears or obligation Amount for SPLSUP column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SpousalSupport_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Medical Support arrears Amount for MEDSUP column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalSupport_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Voluntary Support arrears or obligation Amount for VLNTRY column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'VoluntarySupport_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Medical Arrears Amount due to Medicaid for MEDA column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalArrears_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Support arrears 4 Amount for CUSTA4 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport4_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'SUB1 arrears or obligation Amount for SUBA1 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Sub1Arrears_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'MedicalSupport2 arrears Amount for CUSTM2 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'MedicalSupport2_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Support arrears 5 Amount for CUSTA5 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport5_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Support arrears 6 Amount for CUSTA6 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'CurrentSupport6_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spousal Support 2 Arrears Amount for CUSTS2 column' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'SpousalSupport2_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Case Undistributed amount ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1', @level2type=N'COLUMN',@level2name=N'Undistributed_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table stores frozen case account statement summary  data that is converted from the Delaware Automated Child Support Enforcement (DACSES) Legacy System.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FrozenCaseStatementSummary_T1'
GO
