USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'LastDelinquent_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'HighestArrear_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Form_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Merged_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'SubmitLast_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'PaymentLast_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'SubmitForm_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Arrear_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'SupObligationMm_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'TypeTransCbor_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'ReasonExclude_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Referral_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'StatusAccount_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'OrderSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
/****** Object:  Table [dbo].[CreditBureauOvr_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[CreditBureauOvr_T1]
GO
/****** Object:  Table [dbo].[CreditBureauOvr_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CreditBureauOvr_T1](
	[MemberMci_IDNO] [numeric](10, 0) NOT NULL,
	[Case_IDNO] [numeric](6, 0) NOT NULL,
	[OrderSeq_NUMB] [numeric](2, 0) NOT NULL,
	[StatusAccount_CODE] [char](2) NOT NULL,
	[Referral_CODE] [char](1) NOT NULL,
	[ReasonExclude_CODE] [char](2) NOT NULL,
	[TypeTransCbor_CODE] [char](1) NOT NULL,
	[SupObligationMm_AMNT] [numeric](11, 2) NOT NULL,
	[Arrear_AMNT] [numeric](11, 2) NOT NULL,
	[SubmitForm_DATE] [date] NOT NULL,
	[PaymentLast_DATE] [date] NOT NULL,
	[SubmitLast_DATE] [date] NOT NULL,
	[Merged_INDC] [char](1) NOT NULL,
	[Form_INDC] [char](1) NOT NULL,
	[HighestArrear_AMNT] [numeric](11, 2) NOT NULL,
	[LastDelinquent_DATE] [date] NOT NULL,
	[BeginValidity_DATE] [date] NOT NULL,
	[EndValidity_DATE] [date] NOT NULL,
	[WorkerUpdate_ID] [char](30) NOT NULL,
	[Update_DTTM] [datetime2](7) NOT NULL,
	[TransactionEventSeq_NUMB] [numeric](19, 0) NOT NULL,
 CONSTRAINT [CBOR_I1] PRIMARY KEY CLUSTERED 
(
	[Case_IDNO] ASC,
	[MemberMci_IDNO] ASC,
	[OrderSeq_NUMB] ASC,
	[TransactionEventSeq_NUMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'The Participant ID to be reported to Credit Bureau.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'Unique ID generated for the DACSES Case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'3', @value=N'This is a system generated internal order sequence number created for a support order for a given case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'OrderSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The status of the account during submission. Possible values are derived from BATCH_ENF_OUTGOING_CBR.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'StatusAccount_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the status of the referral.  Possible values are derived from BATCH_ENF_OUTGOING_CBR.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Referral_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The reason for exclusion from Credit Bureau submission. Possible values are derived from BATCH_ENF_OUTGOING_CBR.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'ReasonExclude_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Transaction Type of the Credit Agency Referral. Values are obtained from REFM (UIRR/TRAN)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'TypeTransCbor_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The monthly support order amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'SupObligationMm_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Arrear Amount submitted to the Credit Agency.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Arrear_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Date when the notice was sent.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'SubmitForm_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date of last payment submitted to the Credit Agency.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'PaymentLast_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date on which the Credit Agency Referral has been made.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'SubmitLast_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether or not cases have been merged to this case. Values are obtained from REFM (YSNO/YSNO)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Merged_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the notice was sent. Values are obtained from REFM (YSNO/YSNO)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Form_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The highest arrear amount submitted for the case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'HighestArrear_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date the case was last found delinquent.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'LastDelinquent_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date from when the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date up to which the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the worker ID who created/modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the effective Date with Time at which this record was inserted / modified in this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'
GO
EXEC sys.sp_addextendedproperty @name=N'4', @value=N'Unique Sequence Number that will be generated for a Transaction on the Table. This field is used for checking concurrency at the time of online transaction updates.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table stores the information that is used to initiate and process the credit reporting enforcement remedy on the NCP''''s accordingly. This table stores valid records as well as history records which follows the temporal model structure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CreditBureauOvr_T1'
GO
