USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionServiceDirection_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'GuardianLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'GuardianFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Attorney_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Language_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'InterpreterRequired_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'CpRelationshipToNcp_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ExpireLicense_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'IssuingState_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'LicenseNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'TypeVehicle_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionIdentifyingMarks_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'CellPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionWeightLbs_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionHeight_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ColorHair_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ColorEyes_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Race_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MemberSex_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Suffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'RelationshipToChild_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'CaseRelationship_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
/****** Object:  Table [dbo].[ExtractFcpPartRecord_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[ExtractFcpPartRecord_T1]
GO
/****** Object:  Table [dbo].[ExtractFcpPartRecord_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtractFcpPartRecord_T1](
	[Case_IDNO] [char](6) NOT NULL,
	[MemberMci_IDNO] [char](10) NOT NULL,
	[CaseRelationship_CODE] [char](1) NOT NULL,
	[RelationshipToChild_CODE] [char](3) NOT NULL,
	[Last_NAME] [char](20) NOT NULL,
	[First_NAME] [char](15) NOT NULL,
	[Middle_NAME] [char](1) NOT NULL,
	[Suffix_NAME] [char](3) NOT NULL,
	[MemberSsn_NUMB] [char](9) NOT NULL,
	[Birth_DATE] [char](8) NOT NULL,
	[MemberSex_CODE] [char](1) NOT NULL,
	[Race_CODE] [char](1) NOT NULL,
	[ColorEyes_CODE] [char](2) NOT NULL,
	[ColorHair_CODE] [char](2) NOT NULL,
	[DescriptionHeight_TEXT] [char](4) NOT NULL,
	[DescriptionWeightLbs_TEXT] [char](4) NOT NULL,
	[HomePhone_NUMB] [char](10) NOT NULL,
	[MailingLine1_ADDR] [varchar](50) NOT NULL,
	[CellPhone_NUMB] [char](10) NOT NULL,
	[ResidenceLine1_ADDR] [varchar](50) NOT NULL,
	[ResidenceZip_ADDR] [char](9) NOT NULL,
	[MailingLine2_ADDR] [varchar](50) NOT NULL,
	[MailingCity_ADDR] [char](28) NOT NULL,
	[MailingState_ADDR] [char](2) NOT NULL,
	[MailingZip_ADDR] [char](9) NOT NULL,
	[ResidenceLine2_ADDR] [varchar](50) NOT NULL,
	[ResidenceCity_ADDR] [char](28) NOT NULL,
	[ResidenceState_ADDR] [char](2) NOT NULL,
	[DescriptionIdentifyingMarks_TEXT] [char](40) NOT NULL,
	[TypeVehicle_CODE] [char](3) NOT NULL,
	[LicenseNo_TEXT] [char](25) NOT NULL,
	[IssuingState_CODE] [char](2) NOT NULL,
	[ExpireLicense_DATE] [char](8) NOT NULL,
	[CpRelationshipToNcp_CODE] [char](3) NOT NULL,
	[InterpreterRequired_INDC] [char](1) NOT NULL,
	[Language_CODE] [char](2) NOT NULL,
	[Attorney_NAME] [varchar](60) NOT NULL,
	[AttorneyLine1_ADDR] [varchar](50) NOT NULL,
	[AttorneyLine2_ADDR] [varchar](50) NOT NULL,
	[AttorneyCity_ADDR] [char](28) NOT NULL,
	[AttorneyState_ADDR] [char](2) NOT NULL,
	[AttorneyZip_ADDR] [char](9) NOT NULL,
	[AttorneyPhone_NUMB] [char](10) NOT NULL,
	[GuardianFirst_NAME] [char](15) NOT NULL,
	[GuardianLast_NAME] [char](20) NOT NULL,
	[DescriptionServiceDirection_TEXT] [varchar](400) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the Cases in DAG Approved Case Petitions that are generated for the DACSES Case' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Member’s MCI' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s association to the case in the DACSES Replacement System.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'CaseRelationship_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s relationship to the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'RelationshipToChild_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s last name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s first name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s Middle Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s suffix' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Suffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s date of birth' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Member’s gender.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MemberSex_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s race.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Race_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s eye color.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ColorEyes_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s hair color.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ColorHair_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s height, in feet & inches' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionHeight_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s weight in lbs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionWeightLbs_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s home phone number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Mailing Address line 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member’s cell phone number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'CellPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Residential Address line 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Residential Zip Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Mailing Address Line 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Mailing City Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Mailing State Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Mailing Zip Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Residential Address Line 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Residential City Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Residential State Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ResidenceState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Identifying Marks' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionIdentifyingMarks_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Description for ‘REGISTERED VEHICLE’ member’s vehicle type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'TypeVehicle_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'License Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'LicenseNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State which Issued the License.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'IssuingState_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Date on which the License Expires.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'ExpireLicense_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'CP''s relationship to NCP.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'CpRelationshipToNcp_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Member requires Interpreter when Member''s Language is other than English.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'InterpreterRequired_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Language.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Language_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Attorney''s Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'Attorney_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Attorney''s Address Line 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Attorney''s Address Line 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Attorney''s City Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Attorney''s State Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Attorney''s Zip Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Attorney''s Phone number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'AttorneyPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Guardian''s First Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'GuardianFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Guardian''s Last Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'GuardianLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Service Directions for the address previously sent as Mailing' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1', @level2type=N'COLUMN',@level2name=N'DescriptionServiceDirection_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Table to store all active members like petitioner, respondent and members with a case relationship of guardian and all active dependents on the case' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcpPartRecord_T1'
GO
