USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherAddressNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplAddressNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherAddressNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherHispanicOriginLit_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherHispanicOrigin_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherMedicalPolicyInsNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherMedicalInsurance_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherTypeBusiness_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherOccupation_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmployer_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMarried_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMedicalPolicyInsNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMedicalInsurance_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherHispanicOriginLit_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherHispanicOrigin_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'OccupationMother_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEmplState_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEmplCity_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEmployer_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplLine1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthState_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'AcknowledgementSignedCity_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'PlaceAckSigned_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'TypePlaceAckSigned_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'StateFiled_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEducationLevel_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherRace_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherBirthState_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherBirth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherCityLimit_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLine1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherResideLocation_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherResideCounty_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherBirthState_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEducationLevel_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherRace_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherBirth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMaiden_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthCertificate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthFacility_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthFacility_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirth_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildCountyBirth_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthCity_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildSex_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'

GO
/****** Object:  Table [dbo].[LoadVoluntaryAckPatProcess_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadVoluntaryAckPatProcess_T1]
GO
/****** Object:  Table [dbo].[LoadVoluntaryAckPatProcess_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoadVoluntaryAckPatProcess_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[ChildBirth_DATE] [char](8) NOT NULL,
	[ChildFirst_NAME] [char](15) NOT NULL,
	[ChildMiddle_NAME] [char](15) NOT NULL,
	[ChildLast_NAME] [char](20) NOT NULL,
	[ChildSex_CODE] [char](1) NOT NULL,
	[ChildBirthCity_NAME] [char](20) NOT NULL,
	[ChildCountyBirth_IDNO] [char](2) NOT NULL,
	[ChildBirth_CODE] [char](1) NOT NULL,
	[ChildBirthFacility_CODE] [char](4) NOT NULL,
	[ChildBirthFacility_NAME] [varchar](50) NOT NULL,
	[ChildBirthCertificate_ID] [char](6) NOT NULL,
	[MotherFirst_NAME] [char](15) NOT NULL,
	[MotherMiddle_NAME] [char](15) NOT NULL,
	[MotherLast_NAME] [char](20) NOT NULL,
	[MotherMaiden_NAME] [char](30) NOT NULL,
	[MotherSsn_NUMB] [char](9) NOT NULL,
	[MotherBirth_DATE] [char](8) NOT NULL,
	[MotherRace_CODE] [char](16) NOT NULL,
	[MotherEducationLevel_CODE] [char](2) NOT NULL,
	[MotherBirthState_CODE] [char](2) NOT NULL,
	[MotherResideCounty_IDNO] [char](2) NOT NULL,
	[MotherResideLocation_NAME] [char](15) NOT NULL,
	[MotherLine1Old_ADDR] [char](30) NOT NULL,
	[MotherZipOld_ADDR] [char](9) NOT NULL,
	[MotherCityLimit_INDC] [char](1) NOT NULL,
	[FatherFirst_NAME] [char](15) NOT NULL,
	[FatherMiddle_NAME] [char](15) NOT NULL,
	[FatherLast_NAME] [char](20) NOT NULL,
	[FatherSsn_NUMB] [char](9) NOT NULL,
	[FatherBirth_DATE] [char](8) NOT NULL,
	[FatherBirthState_CODE] [char](2) NOT NULL,
	[FatherRace_CODE] [char](16) NOT NULL,
	[FatherEducationLevel_CODE] [char](2) NOT NULL,
	[StateFiled_DATE] [char](8) NOT NULL,
	[TypePlaceAckSigned_CODE] [char](1) NOT NULL,
	[PlaceAckSigned_NAME] [varchar](50) NOT NULL,
	[AcknowledgementSignedCity_NAME] [varchar](50) NOT NULL,
	[ChildBirthState_CODE] [char](2) NOT NULL,
	[MotherCityOld_ADDR] [varchar](50) NOT NULL,
	[MotherStateOld_ADDR] [char](2) NOT NULL,
	[FatherEmplLine1Old_ADDR] [varchar](50) NOT NULL,
	[FatherEmplZipOld_ADDR] [char](11) NOT NULL,
	[MotherPhone_NUMB] [char](30) NOT NULL,
	[MotherEmployer_NAME] [varchar](50) NOT NULL,
	[MotherEmplCity_NAME] [varchar](50) NOT NULL,
	[MotherEmplState_NAME] [varchar](50) NOT NULL,
	[OccupationMother_TEXT] [varchar](50) NOT NULL,
	[MotherHispanicOrigin_CODE] [char](2) NOT NULL,
	[MotherHispanicOriginLit_NAME] [char](20) NOT NULL,
	[MotherMedicalInsurance_NAME] [varchar](50) NOT NULL,
	[MotherMedicalPolicyInsNo_TEXT] [varchar](50) NOT NULL,
	[MotherMarried_INDC] [char](1) NOT NULL,
	[FatherPhone_NUMB] [char](30) NOT NULL,
	[FatherEmployer_NAME] [varchar](50) NOT NULL,
	[FatherEmplCityOld_ADDR] [varchar](50) NOT NULL,
	[FatherEmplStateOld_ADDR] [varchar](50) NOT NULL,
	[FatherOccupation_TEXT] [char](30) NOT NULL,
	[FatherTypeBusiness_NAME] [varchar](50) NOT NULL,
	[FatherMedicalInsurance_NAME] [varchar](50) NOT NULL,
	[FatherMedicalPolicyInsNo_TEXT] [varchar](50) NOT NULL,
	[FatherHispanicOrigin_CODE] [char](2) NOT NULL,
	[FatherHispanicOriginLit_NAME] [char](20) NOT NULL,
	[FatherLine1Old_ADDR] [varchar](50) NOT NULL,
	[FatherLine2Old_ADDR] [char](10) NOT NULL,
	[FatherStateOld_ADDR] [char](30) NOT NULL,
	[FatherCityOld_ADDR] [char](30) NOT NULL,
	[FatherZipOld_ADDR] [char](9) NOT NULL,
	[MotherAddressNormalization_CODE] [char](1) NOT NULL,
	[MotherLine1_ADDR] [varchar](50) NOT NULL,
	[MotherLine2_ADDR] [varchar](50) NOT NULL,
	[MotherCity_ADDR] [char](28) NOT NULL,
	[MotherState_ADDR] [char](2) NOT NULL,
	[MotherZip_ADDR] [char](15) NOT NULL,
	[FatherEmplAddressNormalization_CODE] [char](1) NOT NULL,
	[FatherEmplLine1_ADDR] [varchar](50) NOT NULL,
	[FatherEmplLine2_ADDR] [varchar](50) NOT NULL,
	[FatherEmplCity_ADDR] [char](28) NOT NULL,
	[FatherEmplState_ADDR] [char](2) NOT NULL,
	[FatherEmplZip_ADDR] [char](15) NOT NULL,
	[FatherAddressNormalization_CODE] [char](1) NOT NULL,
	[FatherLine1_ADDR] [varchar](50) NOT NULL,
	[FatherLine2_ADDR] [varchar](50) NOT NULL,
	[FatherCity_ADDR] [char](28) NOT NULL,
	[FatherState_ADDR] [char](2) NOT NULL,
	[FatherZip_ADDR] [char](15) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL,
	[Process_INDC] [char](1) NOT NULL,
 CONSTRAINT [LVAPP_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Specifies the system generated sequence number to maintain uniqueness.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child date of birth' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child first name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child middle name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child last name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child sex code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildSex_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child birth city' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthCity_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child birth county code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildCountyBirth_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child birth code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirth_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child birth facility code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthFacility_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child birth facility name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthFacility_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child birth certification number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthCertificate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother first name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother middle name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother last name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother maiden name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMaiden_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother social security number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother date of birth' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherBirth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother race' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherRace_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother educational level' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEducationLevel_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother birth place (state)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherBirthState_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother County of residence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherResideCounty_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother residency location' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherResideLocation_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother address line 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLine1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother zip address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Mother City limit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherCityLimit_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father first name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father middle name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father last name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father social security number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father date of birth' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherBirth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father birth place' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherBirthState_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father race' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherRace_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father educational level' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEducationLevel_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State filed date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'StateFiled_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Place of acknowledgement signed type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'TypePlaceAckSigned_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Place of acknowledgement signed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'PlaceAckSigned_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'City acknowledgement signed ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'AcknowledgementSignedCity_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Child Birth state' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'ChildBirthState_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother city address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother state address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer address line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplLine1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer zip code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother phone number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother employer name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEmployer_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother employer city' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEmplCity_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother employer state' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherEmplState_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother occupation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'OccupationMother_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother Hispanic origin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherHispanicOrigin_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother Hispanic origin ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherHispanicOriginLit_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother medical insurance name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMedicalInsurance_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother medical policy number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMedicalPolicyInsNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother married indicator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherMarried_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father phone' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmployer_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer city' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer state' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father occupation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherOccupation_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father business type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherTypeBusiness_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father medical insurance name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherMedicalInsurance_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father medical insurance policy number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherMedicalPolicyInsNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father Hispanic origin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherHispanicOrigin_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father Hispanic origin ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherHispanicOriginLit_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father address line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father address apartment number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father address state' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father address city' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father address zip code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalization Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherAddressNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother address line 1 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother address line 2 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother city address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother state address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mother zip address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'MotherZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalization Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplAddressNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer address line 1 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer address line 2 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer city after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer state after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father employer zip code after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherEmplZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalization Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherAddressNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father address line 1 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father address line 2 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father city address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father state address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father zip address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FatherZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date on which Voluntary Acknowledgement of Paternity (VAP) data and Denial of Paternity (DOP) from the Office of Vital Statistics (OVS) is loaded' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the process status' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Stores Voluntary Acknowledgement of Paternity (VAP) data and Denial of Paternity (DOP) received from the Office of Vital Statistics (OVS) for further processing.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadVoluntaryAckPatProcess_T1'
GO
