USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'ClaimLoss_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'5' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Potential_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Potential_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Settlement_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Settlement_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'LocateState_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'LienInitiated_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AssetValue_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'DescriptionNote_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'ValueAsset_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'NameAcctSecondaryNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'NameAcctPrimaryNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'JointAcct_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AcctType_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AccountAssetNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Status_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Status_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'OthpAtty_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'OthpInsFin_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'SourceLoc_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AssetSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Asset_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
/****** Object:  Index [ASFN_MEM_OTHP_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP INDEX [ASFN_MEM_OTHP_I1] ON [dbo].[MemberFinAssets_T1]
GO
/****** Object:  Table [dbo].[MemberFinAssets_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[MemberFinAssets_T1]
GO
/****** Object:  Table [dbo].[MemberFinAssets_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MemberFinAssets_T1](
	[MemberMci_IDNO] [numeric](10, 0) NOT NULL,
	[Asset_CODE] [char](3) NOT NULL,
	[AssetSeq_NUMB] [numeric](3, 0) NOT NULL,
	[SourceLoc_CODE] [char](3) NOT NULL,
	[OthpInsFin_IDNO] [numeric](9, 0) NOT NULL,
	[OthpAtty_IDNO] [numeric](9, 0) NOT NULL,
	[Status_CODE] [char](1) NOT NULL,
	[Status_DATE] [date] NOT NULL,
	[AccountAssetNo_TEXT] [char](30) NOT NULL,
	[AcctType_CODE] [char](3) NOT NULL,
	[JointAcct_INDC] [char](1) NOT NULL,
	[NameAcctPrimaryNo_TEXT] [char](40) NOT NULL,
	[NameAcctSecondaryNo_TEXT] [char](40) NOT NULL,
	[ValueAsset_AMNT] [numeric](11, 2) NOT NULL,
	[DescriptionNote_TEXT] [varchar](250) NOT NULL,
	[AssetValue_DATE] [date] NOT NULL,
	[LienInitiated_INDC] [char](1) NOT NULL,
	[LocateState_CODE] [char](2) NOT NULL,
	[Settlement_DATE] [date] NOT NULL,
	[Settlement_AMNT] [numeric](11, 2) NOT NULL,
	[Potential_DATE] [date] NOT NULL,
	[Potential_AMNT] [numeric](11, 2) NOT NULL,
	[BeginValidity_DATE] [date] NOT NULL,
	[EndValidity_DATE] [date] NOT NULL,
	[WorkerUpdate_ID] [char](30) NOT NULL,
	[Update_DTTM] [datetime2](7) NOT NULL,
	[TransactionEventSeq_NUMB] [numeric](19, 0) NOT NULL,
	[ClaimLoss_DATE] [date] NOT NULL,
 CONSTRAINT [ASFN_I1] PRIMARY KEY CLUSTERED 
(
	[Asset_CODE] ASC,
	[AssetSeq_NUMB] ASC,
	[MemberMci_IDNO] ASC,
	[SourceLoc_CODE] ASC,
	[TransactionEventSeq_NUMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ASFN_MEM_OTHP_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
CREATE NONCLUSTERED INDEX [ASFN_MEM_OTHP_I1] ON [dbo].[MemberFinAssets_T1]
(
	[MemberMci_IDNO] ASC,
	[OthpInsFin_IDNO] ASC,
	[AccountAssetNo_TEXT] ASC,
	[EndValidity_DATE] ASC,
	[Status_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Unique number assigned by the System to the Participants.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'Indicates Type of Asset. Values are obtained from REFM (MAST/FIIS, MAST/FINA, MAST/FINS).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Asset_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'3', @value=N'Unique number generated for Each Asset.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AssetSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'4', @value=N'Indicates the Code of Source from where Account was verified. Values are obtained from REFM (MAST/SRCE).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'SourceLoc_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Other Party Id of the Financial Institution or Insurance Company.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'OthpInsFin_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Other Party Id of the Attorney.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'OthpAtty_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Verification Status. Values are obtained from REFM (MAST/VSTS).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Status_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Date on which the Asset was verified.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Status_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Bank Account number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AccountAssetNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Account type. Values are obtained from REFM (MAST/CTYP).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AcctType_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the Account is a Joint Account. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'JointAcct_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Primary Account holder Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'NameAcctPrimaryNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Secondary Account Holder Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'NameAcctSecondaryNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Asset Balance Amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'ValueAsset_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the description of the asset.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'DescriptionNote_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Asset Balance Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'AssetValue_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores to identify, if the lien was initiated by the system or not. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'LienInitiated_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the State in which the Account Located. Values are obtained from REFM (STAT/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'LocateState_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Settlement Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Settlement_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Settlement Amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Settlement_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Potential Settlement Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Potential_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Potential Settlement Amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Potential_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date from when the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date up to which the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the worker ID who created/modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the effective Date with Time at which this record was inserted / modified in this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'
GO
EXEC sys.sp_addextendedproperty @name=N'5', @value=N'Unique Sequence Number that will be  generated for a Transaction on the Table. This field is used for checking concurrency at the time of online transaction updates.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Represent Date on which the member lost the asset.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1', @level2type=N'COLUMN',@level2name=N'ClaimLoss_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table stores the Financial Asset Information of the Members. This table stores valid records as well as history records which follows the temporal model structure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberFinAssets_T1'
GO
