USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'SeqReceipt_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Batch_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'SourceBatch_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Batch_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'EventGlobalPoflSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'PaidToCpNet_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'PaidToCpOrig_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'DisbursementAllow_PCT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'DisbursementAllowNet_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'DisbursementAllowOrig_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'HeldNet_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'HeldOrig_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'RecOvpyBal_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'RecOvpyNet_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'RecOvpyOrig_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'TypeDisburse_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Obligation_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Order_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Payor_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Payee_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'CheckRecipient_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'CheckRecipient_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'ObligationSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'OrderSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
/****** Object:  Table [dbo].[TmpOffsetOverride_P1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[TmpOffsetOverride_P1]
GO
/****** Object:  Table [dbo].[TmpOffsetOverride_P1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TmpOffsetOverride_P1](
	[Case_IDNO] [numeric](6, 0) NOT NULL,
	[OrderSeq_NUMB] [numeric](2, 0) NOT NULL,
	[ObligationSeq_NUMB] [numeric](2, 0) NOT NULL,
	[CheckRecipient_ID] [char](10) NOT NULL,
	[CheckRecipient_CODE] [char](1) NOT NULL,
	[Payee_IDNO] [numeric](9, 0) NOT NULL,
	[Payor_NAME] [char](40) NOT NULL,
	[Order_IDNO] [numeric](15, 0) NOT NULL,
	[Obligation_ID] [char](19) NOT NULL,
	[TypeDisburse_CODE] [char](5) NOT NULL,
	[RecOvpyOrig_AMNT] [numeric](11, 2) NOT NULL,
	[RecOvpyNet_AMNT] [numeric](11, 2) NOT NULL,
	[RecOvpyBal_AMNT] [numeric](11, 2) NOT NULL,
	[HeldOrig_AMNT] [numeric](11, 2) NOT NULL,
	[HeldNet_AMNT] [numeric](11, 2) NOT NULL,
	[DisbursementAllowOrig_AMNT] [numeric](11, 2) NOT NULL,
	[DisbursementAllowNet_AMNT] [numeric](11, 2) NOT NULL,
	[DisbursementAllow_PCT] [numeric](5, 2) NOT NULL,
	[PaidToCpOrig_AMNT] [numeric](11, 2) NOT NULL,
	[PaidToCpNet_AMNT] [numeric](11, 2) NOT NULL,
	[EventGlobalPoflSeq_NUMB] [numeric](19, 0) NOT NULL,
	[Batch_DATE] [date] NOT NULL,
	[SourceBatch_CODE] [char](3) NOT NULL,
	[Batch_NUMB] [numeric](4, 0) NOT NULL,
	[SeqReceipt_NUMB] [numeric](6, 0) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Unique ID generated for the DACSES Case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This is a system generated Internal order sequence number created for a support order for a given case. Each SEQ_ORDER corresponds to a Support Order from the SUPPORT_ORDER table for a given Case ID.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'OrderSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Internal reference code to uniquly identify an Obligation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'ObligationSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'MCI of the member who received the disbursement check when the CD_TYPE_RECIPIENT = 1, OR the State Payment FIPS Code of the State that received the disbursement check when the CD_TYPE_RECIPIENT = 2, OR the OTHP ID of the entity that received the disbursement.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'CheckRecipient_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the check recipient type.Valid Values are as follows:1 - MCI of the member 2 - State Payment FIPS Code of the State 3 - Other Party ID.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'CheckRecipient_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This is the Payee on the Obligation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Payee_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Name of payee.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Payor_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Internal Order Sequence Number of the Order for which this  offset is created.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Order_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Interal Obligation Sequence of the Obligation for which this  Log offset is created.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Obligation_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Disbursement type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'TypeDisburse_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'System derived recovery amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'RecOvpyOrig_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Amount towards recovery set by the user.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'RecOvpyNet_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Overpayment amount recovered from the check recipient from the receipts for that obligation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'RecOvpyBal_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Original Held amt.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'HeldOrig_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Total amount that will go on hold.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'HeldNet_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'System derived Disburse allowance.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'DisbursementAllowOrig_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Disburse allowance set by the user to override the system value.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'DisbursementAllowNet_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Percentage to be recovered from disbursement amt.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'DisbursementAllow_PCT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'System derived value for the money towards CP.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'PaidToCpOrig_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Money towards CP set by the user to override the system value.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'PaidToCpNet_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Global Event Sequence number of the transaction which created the  log.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'EventGlobalPoflSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Batch Date of the receipt that was applied in this transaction. This is 1st part of the Receipt number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Batch_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the source of the batch for which the receipt is created. Valid values are stored in REFM with id_table as RCTB and id_table_sub as RCTB. This is 2nd part of the receipt number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'SourceBatch_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Batch Number of the receipt that was applied in this transaction. This is 3rd part of the Receipt number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'Batch_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The first three digits of the Receipt Sequence is the Transaction Sequence and the next three digits of the Receipt Sequence is the Posting Sequence. Each payment transaction (for example, a wage payment from an employer containing payment for three payers is a Transaction) is identified by a Transaction Sequence within the batch. For each Transaction Sequence, the Posting Sequence will start from 001 and is incremented by one for each additional posting.  The first three digits of the Receipt Sequence is the Transaction Sequence and the next three digits of the Receipt Sequence is the Posting Sequence.Each payment transaction (for example, a wage payment from an employer containing payment for three payers is a Transaction) is identified by a Transaction Sequence within the batch. For each Transaction Sequence, the Posting Sequence will start from 001 and is incremented by one for each additional posting.The Transaction Sequence enables the user to search and reverse all the receipts.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1', @level2type=N'COLUMN',@level2name=N'SeqReceipt_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This is global temporary table used by RREP screen to calcuate the overdisbursement details for every receipt that is being reversed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TmpOffsetOverride_P1'
GO
