USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Zip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'State_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'City_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Normalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateSort_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeParticipant_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateEin_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'DodAgencyStatus_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AgencyReporting_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'QtrReporting_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'SsnMatch_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FederalEin_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Wage_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeAddress_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateReporting_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub3_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub2_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub1_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'ForeignCountry_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'ForeignCountry_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'ZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'CityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line4Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line3Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Employer_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'CorrectedMultiSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LocResponse_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'OfAddress_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddressFormat_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateRequestType_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberReturnedSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LastReturned_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleReturned_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstReturned_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'NameReturned_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAddl2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAddl2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAddl2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAddl1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAddl1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAddl1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'NameSendMatched_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LocSourceRespAgency_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateTerr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeMatchNdnh_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'

GO
/****** Object:  Table [dbo].[LoadFcrNdnhQuarterlyWageDetails_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadFcrNdnhQuarterlyWageDetails_T1]
GO
/****** Object:  Table [dbo].[LoadFcrNdnhQuarterlyWageDetails_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoadFcrNdnhQuarterlyWageDetails_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[Rec_ID] [char](2) NOT NULL,
	[TypeMatchNdnh_CODE] [char](1) NOT NULL,
	[StateTerr_CODE] [char](2) NOT NULL,
	[LocSourceRespAgency_CODE] [char](3) NOT NULL,
	[NameSendMatched_CODE] [char](1) NOT NULL,
	[First_NAME] [char](16) NOT NULL,
	[Middle_NAME] [char](16) NOT NULL,
	[Last_NAME] [char](30) NOT NULL,
	[FirstAddl1_NAME] [char](16) NOT NULL,
	[MiddleAddl1_NAME] [char](16) NOT NULL,
	[LastAddl1_NAME] [char](30) NOT NULL,
	[FirstAddl2_NAME] [char](16) NOT NULL,
	[MiddleAddl2_NAME] [char](16) NOT NULL,
	[LastAddl2_NAME] [char](30) NOT NULL,
	[NameReturned_CODE] [char](1) NOT NULL,
	[FirstReturned_NAME] [char](16) NOT NULL,
	[MiddleReturned_NAME] [char](16) NOT NULL,
	[LastReturned_NAME] [char](30) NOT NULL,
	[MemberReturnedSsn_NUMB] [char](9) NOT NULL,
	[MemberMci_IDNO] [char](15) NOT NULL,
	[UserField_NAME] [char](15) NOT NULL,
	[CountyFips_CODE] [char](3) NOT NULL,
	[LocateRequestType_CODE] [char](2) NOT NULL,
	[AddressFormat_CODE] [char](1) NOT NULL,
	[OfAddress_DATE] [char](8) NOT NULL,
	[LocResponse_CODE] [char](2) NOT NULL,
	[CorrectedMultiSsn_NUMB] [char](9) NOT NULL,
	[Employer_NAME] [varchar](45) NOT NULL,
	[Line1Old_ADDR] [char](40) NOT NULL,
	[Line2Old_ADDR] [char](40) NOT NULL,
	[Line3Old_ADDR] [char](40) NOT NULL,
	[Line4Old_ADDR] [char](40) NOT NULL,
	[CityOld_ADDR] [char](30) NOT NULL,
	[StateOld_ADDR] [char](2) NOT NULL,
	[ZipOld_ADDR] [char](15) NOT NULL,
	[ForeignCountry_CODE] [char](2) NOT NULL,
	[ForeignCountry_NAME] [char](25) NOT NULL,
	[AddrScrub1_CODE] [char](2) NOT NULL,
	[AddrScrub2_CODE] [char](2) NOT NULL,
	[AddrScrub3_CODE] [char](2) NOT NULL,
	[StateReporting_CODE] [char](2) NOT NULL,
	[TypeAddress_CODE] [char](1) NOT NULL,
	[Wage_AMNT] [char](11) NOT NULL,
	[FederalEin_IDNO] [char](9) NOT NULL,
	[SsnMatch_CODE] [char](1) NOT NULL,
	[QtrReporting_CODE] [char](5) NOT NULL,
	[AgencyReporting_NAME] [char](9) NOT NULL,
	[DodAgencyStatus_CODE] [char](1) NOT NULL,
	[StateEin_IDNO] [char](12) NOT NULL,
	[TypeParticipant_CODE] [char](2) NOT NULL,
	[StateSort_CODE] [char](2) NOT NULL,
	[Normalization_CODE] [char](1) NOT NULL,
	[Line1_ADDR] [varchar](50) NOT NULL,
	[Line2_ADDR] [varchar](50) NOT NULL,
	[City_ADDR] [char](28) NOT NULL,
	[State_ADDR] [char](2) NOT NULL,
	[Zip_ADDR] [char](10) NOT NULL,
	[Process_INDC] [char](1) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL,
 CONSTRAINT [LFNQW_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Specifies the system generated sequence number to maintain uniqueness.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies NDNH Locate Record FN.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Record Match type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeMatchNdnh_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Transmitted State / Territory code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateTerr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Locate Responding Agency Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LocSourceRespAgency_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Name Match indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'NameSendMatched_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'First Name provided by NDNH.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Middle Name Provided by the NDNH.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last Name Provided by the NDNH.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Additional First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAddl1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Additional middle name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAddl1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Additional Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAddl1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Additional First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAddl2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Additional middle name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAddl2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Additional Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAddl2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Name Returned Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'NameReturned_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'First Name Returned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstReturned_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Middle Name Returned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleReturned_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last Name Returned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LastReturned_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'SSN Returned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberReturnedSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Id.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'user  Field.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'FIPS County Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Locate Request Type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateRequestType_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address Format Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddressFormat_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'DATE OF Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'OfAddress_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Locate Response Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'LocResponse_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Corrected Multi SSN.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'CorrectedMultiSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Name of the Employer.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Employer_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Street Address1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Street Address2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Street Address3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line3Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Street Address4.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line4Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'CityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address zip.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'ZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Foreign Country Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'ForeignCountry_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Foreign  Country Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'ForeignCountry_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'address scrub indicator 1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub1_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'address scrub indicator 2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub2_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'address scrub indicator 3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub3_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Quarterly Wage reporting state.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateReporting_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address Type Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeAddress_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Wage Amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Wage_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Federal Employer Identification Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FederalEin_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Social Security Match Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'SsnMatch_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Reporting quarter.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'QtrReporting_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Name of the Reporting Agency.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'AgencyReporting_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Agency Status Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'DodAgencyStatus_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State Employer identification number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateEin_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'participant type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeParticipant_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'sort state code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'StateSort_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates address normalization status.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Normalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Street Address1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Street Address2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Line2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'City_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address State. Values are obtained from REFM (STAT/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'State_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Address zip.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Zip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Y if the record is processed otherwise N.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date on which incoming file from Family court is loaded.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This Staging table is used in BATCH_ENF_FCR_INCOMING. This is used to load the Quarterly Wage details.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrNdnhQuarterlyWageDetails_T1'
GO
