USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource8_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource7_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource6_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource5_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource4_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource3_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource2_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource1_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Irs1099_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'NewMemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional4_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional4_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional4_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberAdditional2Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberAdditional1Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'IrsUsedMemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastMother_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleMother_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstMother_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastFather_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleFather_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstFather_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'StCountryBirth_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'CityBirth_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'PreviousMemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Sex_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FamilyViolence_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'TypeParticipant_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'BundleResults_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'TypeLocReq_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'ReservedFcr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'TypeAction_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'

GO
/****** Object:  Table [dbo].[ExtractFcrMember_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[ExtractFcrMember_T1]
GO
/****** Object:  Table [dbo].[ExtractFcrMember_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtractFcrMember_T1](
	[Rec_ID] [char](2) NOT NULL,
	[TypeAction_CODE] [char](1) NOT NULL,
	[Case_IDNO] [char](15) NOT NULL,
	[ReservedFcr_CODE] [char](2) NOT NULL,
	[UserField_NAME] [char](15) NOT NULL,
	[CountyFips_CODE] [char](3) NOT NULL,
	[TypeLocReq_CODE] [char](2) NOT NULL,
	[BundleResults_INDC] [char](1) NOT NULL,
	[TypeParticipant_CODE] [char](2) NOT NULL,
	[FamilyViolence_CODE] [char](2) NOT NULL,
	[MemberMci_IDNO] [char](15) NOT NULL,
	[Sex_CODE] [char](1) NOT NULL,
	[Birth_DATE] [char](8) NOT NULL,
	[MemberSsn_NUMB] [char](9) NOT NULL,
	[PreviousMemberSsn_NUMB] [char](9) NOT NULL,
	[First_NAME] [char](16) NOT NULL,
	[Middle_NAME] [char](16) NOT NULL,
	[Last_NAME] [char](30) NOT NULL,
	[CityBirth_NAME] [char](16) NOT NULL,
	[StCountryBirth_CODE] [char](4) NOT NULL,
	[FirstFather_NAME] [char](16) NOT NULL,
	[MiddleFather_NAME] [char](1) NOT NULL,
	[LastFather_NAME] [char](16) NOT NULL,
	[FirstMother_NAME] [char](16) NOT NULL,
	[MiddleMother_NAME] [char](1) NOT NULL,
	[LastMother_NAME] [char](16) NOT NULL,
	[IrsUsedMemberSsn_NUMB] [char](9) NOT NULL,
	[MemberAdditional1Ssn_NUMB] [char](9) NOT NULL,
	[MemberAdditional2Ssn_NUMB] [char](9) NOT NULL,
	[FirstAdditional1_NAME] [char](16) NOT NULL,
	[MiddleAdditional1_NAME] [char](16) NOT NULL,
	[LastAdditional1_NAME] [char](30) NOT NULL,
	[FirstAdditional2_NAME] [char](16) NOT NULL,
	[MiddleAdditional2_NAME] [char](16) NOT NULL,
	[LastAdditional2_NAME] [char](30) NOT NULL,
	[FirstAdditional3_NAME] [char](16) NOT NULL,
	[MiddleAdditional3_NAME] [char](16) NOT NULL,
	[LastAdditional3_NAME] [char](30) NOT NULL,
	[FirstAdditional4_NAME] [char](16) NOT NULL,
	[MiddleAdditional4_NAME] [char](16) NOT NULL,
	[LastAdditional4_NAME] [char](30) NOT NULL,
	[NewMemberMci_IDNO] [char](15) NOT NULL,
	[Irs1099_INDC] [char](1) NOT NULL,
	[LocateSource1_CODE] [char](3) NOT NULL,
	[LocateSource2_CODE] [char](3) NOT NULL,
	[LocateSource3_CODE] [char](3) NOT NULL,
	[LocateSource4_CODE] [char](3) NOT NULL,
	[LocateSource5_CODE] [char](3) NOT NULL,
	[LocateSource6_CODE] [char](3) NOT NULL,
	[LocateSource7_CODE] [char](3) NOT NULL,
	[LocateSource8_CODE] [char](3) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies record identifier.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies action type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'TypeAction_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the IVD Case ID.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies reserved field.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'ReservedFcr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field may be used for submitter-identifying information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies fips county code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate request type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'TypeLocReq_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies bundle results.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'BundleResults_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies participant type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'TypeParticipant_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies family violence code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FamilyViolence_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'A unique number assigned to each participant in the system.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies member sex.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Sex_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies date of birth.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies SSN of member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Previous SSN.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'PreviousMemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies first name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies middle name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies last name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies city of birth.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'CityBirth_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies state and country of birth.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'StCountryBirth_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies father’s first name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstFather_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies father’s middle name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleFather_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies father’s last name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastFather_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies mother’s first name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstMother_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies mother’s middle name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleMother_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies mother’s last name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastMother_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies IRS use SSN.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'IrsUsedMemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional SSN1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberAdditional1Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional SSN2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MemberAdditional2Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional first name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional middle name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional last name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional first name 2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional middle name 2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional last name2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional first name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional middle name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional last name 3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional first name4.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'FirstAdditional4_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional middle name4.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'MiddleAdditional4_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies additional last name4.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LastAdditional4_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies new member id.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'NewMemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies IRS1099 indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'Irs1099_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate soure1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource1_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate source2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource2_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate source3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource3_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate source4.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource4_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate source5.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource5_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate source6.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource6_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate source7.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource7_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies locate source8.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1', @level2type=N'COLUMN',@level2name=N'LocateSource8_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table is used as a staging table in BATCH_LOC_EXT_FCR package to extract member details to create FCR Request File.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExtractFcrMember_T1'
GO
