USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3State_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3City_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Emp3Normalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2State_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2City_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Emp2Normalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmpNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmpNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ProfessionalLicenses_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3Qtr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Confirmed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer3_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer3_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Phone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3StateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3CityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2Qtr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Confirmed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer2_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer2_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Phone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2StateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2CityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerEffective_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailAddress_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResAddress_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResZip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResZip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'InsCarrier_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WageQtr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerConfirmed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Occupation_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseSuffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Suffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Suffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Suffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WorkPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndMailing_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveMailing_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndResidential_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveResidential_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'TransHeader_IDNO'

GO
/****** Object:  Table [dbo].[LoadNcpLocateBlocks_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadNcpLocateBlocks_T1]
GO
/****** Object:  Table [dbo].[LoadNcpLocateBlocks_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[LoadNcpLocateBlocks_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[TransHeader_IDNO] [char](12) NOT NULL,
	[IVDOutOfStateFips_CODE] [char](2) NOT NULL,
	[Transaction_DATE] [char](8) NOT NULL,
	[ResidentialLine1Old_ADDR] [char](25) NOT NULL,
	[ResidentialLine2Old_ADDR] [char](25) NOT NULL,
	[ResidentialCityOld_ADDR] [char](18) NOT NULL,
	[ResidentialStateOld_ADDR] [char](2) NOT NULL,
	[ResidentialZip1Old_ADDR] [char](5) NOT NULL,
	[ResidentialZip2Old_ADDR] [char](4) NOT NULL,
	[MailingLine1Old_ADDR] [char](25) NOT NULL,
	[MailingLine2Old_ADDR] [char](25) NOT NULL,
	[MailingCityOld_ADDR] [char](18) NOT NULL,
	[MailingStateOld_ADDR] [char](2) NOT NULL,
	[MailingZip1Old_ADDR] [char](5) NOT NULL,
	[MailingZip2Old_ADDR] [char](4) NOT NULL,
	[EffectiveResidential_DATE] [char](8) NOT NULL,
	[EndResidential_DATE] [char](8) NOT NULL,
	[ResidentialConfirmed_CODE] [char](1) NOT NULL,
	[EffectiveMailing_DATE] [char](8) NOT NULL,
	[EndMailing_DATE] [char](8) NOT NULL,
	[MailingConfirmed_CODE] [char](1) NOT NULL,
	[HomePhone_NUMB] [char](10) NOT NULL,
	[WorkPhone_NUMB] [char](10) NOT NULL,
	[DriversLicenseState_CODE] [char](2) NOT NULL,
	[DriversLicenseNo_TEXT] [char](20) NOT NULL,
	[Alias1First_NAME] [char](16) NOT NULL,
	[Alias1Middle_NAME] [char](16) NOT NULL,
	[Alias1Last_NAME] [char](21) NOT NULL,
	[Alias1Suffix_NAME] [char](3) NOT NULL,
	[Alias2First_NAME] [char](16) NOT NULL,
	[Alias2Middle_NAME] [char](16) NOT NULL,
	[Alias2Last_NAME] [char](21) NOT NULL,
	[Alias2Suffix_NAME] [char](3) NOT NULL,
	[Alias3First_NAME] [char](16) NOT NULL,
	[Alias3Middle_NAME] [char](16) NOT NULL,
	[Alias3Last_NAME] [char](21) NOT NULL,
	[Alias3Suffix_NAME] [char](3) NOT NULL,
	[SpouseLast_NAME] [char](21) NOT NULL,
	[SpouseFirst_NAME] [char](16) NOT NULL,
	[SpouseMiddle_NAME] [char](16) NOT NULL,
	[SpouseSuffix_NAME] [char](3) NOT NULL,
	[Occupation_TEXT] [char](32) NOT NULL,
	[EmployerEin_ID] [char](9) NOT NULL,
	[Employer_NAME] [char](40) NOT NULL,
	[EmployerLine1Old_ADDR] [char](25) NOT NULL,
	[EmployerLine2Old_ADDR] [char](25) NOT NULL,
	[EmployerCityOld_ADDR] [char](18) NOT NULL,
	[EmployerStateOld_ADDR] [char](2) NOT NULL,
	[EmployerZip1Old_ADDR] [char](5) NOT NULL,
	[EmployerZip2Old_ADDR] [char](4) NOT NULL,
	[EmployerPhone_NUMB] [char](10) NOT NULL,
	[EffectiveEmployer_DATE] [char](8) NOT NULL,
	[EndEmployer_DATE] [char](8) NOT NULL,
	[EmployerConfirmed_INDC] [char](1) NOT NULL,
	[WageQtr_CODE] [char](1) NOT NULL,
	[WageYear_NUMB] [char](4) NOT NULL,
	[Wage_AMNT] [char](12) NOT NULL,
	[InsCarrier_NAME] [char](36) NOT NULL,
	[PolicyInsNo_TEXT] [char](20) NOT NULL,
	[LastResLine1Old_ADDR] [char](25) NOT NULL,
	[LastResLine2Old_ADDR] [char](25) NOT NULL,
	[LastResCityOld_ADDR] [char](18) NOT NULL,
	[LastResStateOld_ADDR] [char](2) NOT NULL,
	[LastResZip1Old_ADDR] [char](5) NOT NULL,
	[LastResZip2Old_ADDR] [char](4) NOT NULL,
	[LastResAddress_DATE] [char](8) NOT NULL,
	[LastMailLine1Old_ADDR] [char](25) NOT NULL,
	[LastMailLine2Old_ADDR] [char](25) NOT NULL,
	[LastMailCityOld_ADDR] [char](18) NOT NULL,
	[LastMailStateOld_ADDR] [char](2) NOT NULL,
	[LastMailZip1Old_ADDR] [char](5) NOT NULL,
	[LastMailZip2Old_ADDR] [char](4) NOT NULL,
	[LastMailAddress_DATE] [char](8) NOT NULL,
	[LastEmployer_NAME] [char](40) NOT NULL,
	[LastEmployer_DATE] [char](8) NOT NULL,
	[LastEmployerLine1Old_ADDR] [char](25) NOT NULL,
	[LastEmployerLine2Old_ADDR] [char](25) NOT NULL,
	[LastEmployerCityOld_ADDR] [char](18) NOT NULL,
	[LastEmployerStateOld_ADDR] [char](2) NOT NULL,
	[LastEmployerZip1Old_ADDR] [char](5) NOT NULL,
	[LastEmployerZip2Old_ADDR] [char](4) NOT NULL,
	[LastEmployerEffective_DATE] [char](8) NOT NULL,
	[Employer2Ein_ID] [char](9) NOT NULL,
	[Employer2_NAME] [char](40) NOT NULL,
	[Employer2Line1Old_ADDR] [char](25) NOT NULL,
	[Employer2Line2Old_ADDR] [char](25) NOT NULL,
	[Employer2CityOld_ADDR] [char](18) NOT NULL,
	[Employer2StateOld_ADDR] [char](2) NOT NULL,
	[Employer2Zip1Old_ADDR] [char](5) NOT NULL,
	[Employer2Zip2Old_ADDR] [char](4) NOT NULL,
	[Employer2Phone_NUMB] [char](10) NOT NULL,
	[EffectiveEmployer2_DATE] [char](8) NOT NULL,
	[EndEmployer2_DATE] [char](8) NOT NULL,
	[Employer2Confirmed_INDC] [char](1) NOT NULL,
	[Wage2Qtr_CODE] [char](1) NOT NULL,
	[Wage2Year_NUMB] [char](4) NOT NULL,
	[Wage2_AMNT] [char](12) NOT NULL,
	[Employer3Ein_ID] [char](9) NOT NULL,
	[Employer3_NAME] [char](40) NOT NULL,
	[Employer3Line1Old_ADDR] [char](25) NOT NULL,
	[Employer3Line2Old_ADDR] [char](25) NOT NULL,
	[Employer3CityOld_ADDR] [char](18) NOT NULL,
	[Employer3StateOld_ADDR] [char](2) NOT NULL,
	[Employer3Zip1Old_ADDR] [char](5) NOT NULL,
	[Employer3Zip2Old_ADDR] [char](4) NOT NULL,
	[Employer3Phone_NUMB] [char](10) NOT NULL,
	[EffectiveEmployer3_DATE] [char](8) NOT NULL,
	[EndEmployer3_DATE] [char](8) NOT NULL,
	[Employer3Confirmed_INDC] [char](1) NOT NULL,
	[Wage3Qtr_CODE] [char](1) NOT NULL,
	[Wage3Year_NUMB] [char](4) NOT NULL,
	[Wage3_AMNT] [char](12) NOT NULL,
	[ProfessionalLicenses_TEXT] [varchar](50) NOT NULL,
	[ResNormalization_CODE] [char](2) NOT NULL,
	[ResidentialLine1_ADDR] [varchar](50) NOT NULL,
	[ResidentialLine2_ADDR] [varchar](50) NOT NULL,
	[ResidentialCity_ADDR] [char](28) NOT NULL,
	[ResidentialState_ADDR] [char](2) NOT NULL,
	[ResidentialZip_ADDR] [char](10) NOT NULL,
	[MailNormalization_CODE] [char](2) NOT NULL,
	[MailingLine1_ADDR] [varchar](50) NOT NULL,
	[MailingLine2_ADDR] [varchar](50) NOT NULL,
	[MailingCity_ADDR] [char](28) NOT NULL,
	[MailingState_ADDR] [char](2) NOT NULL,
	[MailingZip_ADDR] [char](10) NOT NULL,
	[EmpNormalization_CODE] [char](2) NOT NULL,
	[EmployerLine1_ADDR] [varchar](50) NOT NULL,
	[EmployerLine2_ADDR] [varchar](50) NOT NULL,
	[EmployerCity_ADDR] [char](28) NOT NULL,
	[EmployerState_ADDR] [char](2) NOT NULL,
	[EmployerZip_ADDR] [char](10) NOT NULL,
	[LastResNormalization_CODE] [char](2) NOT NULL,
	[LastResidentialLine1_ADDR] [varchar](50) NOT NULL,
	[LastResidentialLine2_ADDR] [varchar](50) NOT NULL,
	[LastResidentialCity_ADDR] [char](28) NOT NULL,
	[LastResidentialState_ADDR] [char](2) NOT NULL,
	[LastResZip_ADDR] [char](10) NOT NULL,
	[LastMailNormalization_CODE] [char](2) NOT NULL,
	[LastMailLine1_ADDR] [varchar](50) NOT NULL,
	[LastMailLine2_ADDR] [varchar](50) NOT NULL,
	[LastMailCity_ADDR] [char](28) NOT NULL,
	[LastMailState_ADDR] [char](2) NOT NULL,
	[LastMailZip_ADDR] [char](10) NOT NULL,
	[LastEmpNormalization_CODE] [char](2) NOT NULL,
	[LastEmployerLine1_ADDR] [varchar](50) NOT NULL,
	[LastEmployerLine2_ADDR] [varchar](50) NOT NULL,
	[LastEmployerCity_ADDR] [char](28) NOT NULL,
	[LastEmployerState_ADDR] [char](2) NOT NULL,
	[LastEmployerZip_ADDR] [char](10) NOT NULL,
	[Emp2Normalization_CODE] [char](2) NOT NULL,
	[Employer2Line1_ADDR] [varchar](50) NOT NULL,
	[Employer2Line2_ADDR] [varchar](50) NOT NULL,
	[Employer2City_ADDR] [char](28) NOT NULL,
	[Employer2State_ADDR] [char](2) NOT NULL,
	[Employer2Zip_ADDR] [char](10) NOT NULL,
	[Emp3Normalization_CODE] [char](2) NOT NULL,
	[Employer3Line1_ADDR] [varchar](50) NOT NULL,
	[Employer3Line2_ADDR] [varchar](50) NOT NULL,
	[Employer3City_ADDR] [char](28) NOT NULL,
	[Employer3State_ADDR] [char](2) NOT NULL,
	[Employer3Zip_ADDR] [char](10) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[LoadNcpLocateBlocks_T1] ADD [Process_INDC] [char](1) NOT NULL
 CONSTRAINT [LNLBL_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The link to the TRANSACTION_HEADER_BLOCK record that holds the corresponding CSENet Transaction.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'TransHeader_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State FIPS for the state with which you are communicating.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'IVDOutOfStateFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Transaction Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Transaction_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Residential City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Residential State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Residential ZIP1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Residential ZIP2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Mailing City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Mailing State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Mailing ZIP1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Mailing ZIP2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when it was discovered that the NCP resided at the address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveResidential_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the residential address became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndResidential_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the mailing address was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveMailing_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the mailing address became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndMailing_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Home Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Work Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WorkPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias First Name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Middle Name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Last Name1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Suffix.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias1Suffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias First Name2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Middle Name2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Last Name2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Suffix2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias2Suffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias First Name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Middle Name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Last Name3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Alias Suffix3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Alias3Suffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Spouse''s suffix.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'SpouseSuffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Occupation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Occupation_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Current Employer Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Employer City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Employer State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Employer ZIP1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized Employer ZIP2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer Phone.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the employer was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the employer became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the employer has been confirmed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerConfirmed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'One calendar quarter''s worth of wages received from the current employer listed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'WageQtr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Amount of wages from the quarter and year listed above.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP medical insurance carrier.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'InsCarrier_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known residential address City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known residential address State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known residential five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResZip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known residential four-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResZip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date when the last residential address was discovered to be invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResAddress_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known mailing address City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known mailing address State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known mailing five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known mailing four-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date when the NCP last mailing address was discovered to be invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailAddress_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Date the NCP was most recently employed at this employer.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployer_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known employer City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known employer State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known employer five-digit Zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP last known employer four-digit Zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date when the Last-Employer-Effective-Date was discovered to be invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerEffective_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP current multiple employers.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer2 City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2CityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer2 State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2StateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer2 five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer2 four-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer2 Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Phone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the Employer2 was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer2_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when Employer2 became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer2_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the Employer2 has been confirmed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Confirmed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'One calendar quarter''s worth of wages received from the Employer2 listed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2Qtr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Amount of wages from the quarter and year listed above.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage2_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP current multiple employers, this is occurrence 3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer3 City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3CityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer3 State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3StateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer3 five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non-normalized NCP Employer3 four-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer3 Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Phone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when the Employer3 was discovered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EffectiveEmployer3_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates when Employer3 became invalid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EndEmployer3_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the Employer3 has been confirmed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Confirmed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'One calendar quarter''s worth of wages received from the Employer2 listed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3Qtr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Amount of wages from the quarter and year listed above.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Wage3_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Any known professional licenses for the NCP.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ProfessionalLicenses_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized Residential Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Residential Zip.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'ResidentialZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized mailing Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing Zip.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized Employer Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmpNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Employer ZIP.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'EmployerZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized Last Res Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known residential  zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastResZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized Last mail Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known mailing address City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known mailing address State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known mailing zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastMailZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized Last Employer Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmpNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP last known employer  Zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'LastEmployerZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized Employer2 Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Emp2Normalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer2 City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2City_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer2 State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2State_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer2  zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer2Zip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator for the Normalized Employer3 Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Emp3Normalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer3 City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3City_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer3 State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3State_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Employer3 five-digit zip code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Employer3Zip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if the record is processed or not.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'To load the CSENet Interface File' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadNcpLocateBlocks_T1'
GO
