USE [DEV_ONL_DB]
GO
/****** Object:  Table [dbo].[IVD_NON_CUSTODIAL_PARENT]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[IVD_NON_CUSTODIAL_PARENT]
GO
/****** Object:  Table [dbo].[IVD_NON_CUSTODIAL_PARENT]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IVD_NON_CUSTODIAL_PARENT](
	[#ISN] [varchar](50) NULL,
	[NCP_ID] [varchar](50) NULL,
	[TIME_MODIFIED] [varchar](50) NULL,
	[USERID_MODIFIED] [varchar](50) NULL,
	[NCP_SSN] [varchar](50) NULL,
	[NCP_TYPE] [varchar](50) NULL,
	[NCP_FIRST_NAME] [varchar](50) NULL,
	[NCP_MID_NAME] [varchar](50) NULL,
	[NCP_LAST_NAME] [varchar](50) NULL,
	[NCP_NAME_SUFFIX] [varchar](50) NULL,
	[NCP_CAREOF_FIRST_NAME] [varchar](50) NULL,
	[NCP_CAREOF_MID_NAME] [varchar](50) NULL,
	[NCP_CAREOF_LAST_NAME] [varchar](50) NULL,
	[NCP_CAREOF_NAME_SUFFIX] [varchar](50) NULL,
	[NCP_MAILING_ADDRESS_LINE_1] [varchar](50) NULL,
	[NCP_MAILING_ADDRESS_LINE_2] [varchar](50) NULL,
	[NCP_MAILING_CITY] [varchar](50) NULL,
	[NCP_MAILING_STATE] [varchar](50) NULL,
	[NCP_MAILING_ZIP] [varchar](50) NULL,
	[NCP_FIPS] [varchar](50) NULL,
	[NCP_ALIAS] [varchar](50) NULL,
	[NCP_SEX] [varchar](50) NULL,
	[NCP_RACE] [varchar](50) NULL,
	[NCP_HEIGHT_FEET] [varchar](50) NULL,
	[NCP_HEIGHT_INCHES] [varchar](50) NULL,
	[NCP_WEIGHT] [varchar](50) NULL,
	[NCP_HAIR_COLOR] [varchar](50) NULL,
	[NCP_EYE_COLOR] [varchar](50) NULL,
	[NCP_IDENTIFYING_MARKS] [varchar](50) NULL,
	[NCP_CURRENT_MARITAL_STATUS] [varchar](50) NULL,
	[NCP_DRIVERS_LICENSE_STATE] [varchar](50) NULL,
	[NCP_DRIVERS_LICENSE_NO] [varchar](50) NULL,
	[NCP_DRIVERS_LICENSE_DATE] [varchar](50) NULL,
	[NCP_BIRTH_DATE] [varchar](50) NULL,
	[NCP_BIRTH_CITY] [varchar](50) NULL,
	[NCP_BIRTH_STATE] [varchar](50) NULL,
	[NCP_CURRENT_SPOUSE_FIRST_NAME] [varchar](50) NULL,
	[NCP_CURRENT_SPOUSE_MID_NAME] [varchar](50) NULL,
	[NCP_CURRENT_SPOUSE_LAST_NAME] [varchar](50) NULL,
	[NCP_CURRENT_SPOUSE_NAME_SUFFIX] [varchar](50) NULL,
	[LAST_SCHOOL_ATTENDED_DATE] [varchar](50) NULL,
	[NCP_LAST_SCHOOL_NAME] [varchar](50) NULL,
	[NCP_LAST_SCHOOL_ADDRESS_LINE_1] [varchar](50) NULL,
	[NCP_LAST_SCHOOL_ADDRESS_LINE_2] [varchar](50) NULL,
	[NCP_LAST_SCHOOL_CITY] [varchar](50) NULL,
	[NCP_LAST_SCHOOL_STATE] [varchar](50) NULL,
	[NCP_LAST_SCHOOL_ZIP] [varchar](50) NULL,
	[NCP_MAIDEN_NAME] [varchar](50) NULL,
	[NCP_MOTHER_FIRST_NAME] [varchar](50) NULL,
	[NCP_MOTHER_MID_NAME] [varchar](50) NULL,
	[NCP_MOTHER_LAST_NAME] [varchar](50) NULL,
	[NCP_MOTHER_NAME_SUFFIX] [varchar](50) NULL,
	[NCP_MOTHER_ADDRESS_LINE_1] [varchar](50) NULL,
	[NCP_MOTHER_ADDRESS_LINE_2] [varchar](50) NULL,
	[NCP_MOTHER_CITY] [varchar](50) NULL,
	[NCP_MOTHER_STATE] [varchar](50) NULL,
	[NCP_MOTHER_ZIP] [varchar](50) NULL,
	[NCP_MOTHER_PHONE] [varchar](50) NULL,
	[NCP_FATHER_FIRST_NAME] [varchar](50) NULL,
	[NCP_FATHER_MID_NAME] [varchar](50) NULL,
	[NCP_FATHER_LAST_NAME] [varchar](50) NULL,
	[NCP_FATHER_NAME_SUFFIX] [varchar](50) NULL,
	[NCP_FATHER_ADDRESS_LINE_1] [varchar](50) NULL,
	[NCP_FATHER_ADDRESS_LINE_2] [varchar](50) NULL,
	[NCP_FATHER_CITY] [varchar](50) NULL,
	[NCP_FATHER_STATE] [varchar](50) NULL,
	[NCP_FATHER_ZIP] [varchar](50) NULL,
	[NCP_FATHER_PHONE] [varchar](50) NULL,
	[NCP_ARREST_DATE] [varchar](50) NULL,
	[NCP_PRISON_RELEASE_DATE] [varchar](50) NULL,
	[NCP_ARREST_CITY] [varchar](50) NULL,
	[NCP_ARREST_STATE] [varchar](50) NULL,
	[NCP_ARREST_ZIP] [varchar](50) NULL,
	[NCP_OFFENSE] [varchar](50) NULL,
	[NCP_INCARCERATION_LOCATION] [varchar](50) NULL,
	[NCP_INCARCERATION_DATE] [varchar](50) NULL,
	[NCP_ARRESTED] [varchar](50) NULL,
	[NCP_INCARCERATION_CITY] [varchar](50) NULL,
	[NCP_INCARCERATION_STATE] [varchar](50) NULL,
	[NCP_INCARCERATION_ZIP] [varchar](50) NULL,
	[NCP_ARMED_FORCES_BRANCH] [varchar](50) NULL,
	[NCP_ARMED_FORCES_ENTRY_DATE] [varchar](50) NULL,
	[NCP_ARMED_FORCES_DISCHARGED_DATE] [varchar](50) NULL,
	[NCP_MILITARY_STATUS] [varchar](50) NULL,
	[NCP_VA_SERVICE_NUMBER] [varchar](50) NULL,
	[NCP_SOURCE_OF_OTHER_INCOME_1] [varchar](50) NULL,
	[NCP_SOURCE_OF_OTHER_INCOME_2] [varchar](50) NULL,
	[NCP_SOURCE_OF_OTHER_INCOME_3] [varchar](50) NULL,
	[NCP_SOURCE_OF_OTHER_INCOME_4] [varchar](50) NULL,
	[NCP_SOURCE_OF_OTHER_INCOME_5] [varchar](50) NULL,
	[NCP_SOURCE_OF_OTHER_INCOME_6] [varchar](50) NULL,
	[NCP_PROPERTY_1] [varchar](50) NULL,
	[NCP_PROPERTY_2] [varchar](50) NULL,
	[NCP_PROPERTY_3] [varchar](50) NULL,
	[NCP_PROPERTY_4] [varchar](50) NULL,
	[NCP_PROPERTY_5] [varchar](50) NULL,
	[NCP_PROPERTY_6] [varchar](50) NULL,
	[NCP_MOTHERS_MAIDEN_NAME] [varchar](50) NULL,
	[IVD_IVA_CONVERTED] [varchar](50) NULL,
	[FAMILY_VIOLENCE_INDICATOR] [varchar](50) NULL,
	[SSN_VERIFIED] [varchar](50) NULL,
	[NCP_OUT_OF_STATE_ID] [varchar](50) NULL,
	[FCR_NCP_TRANSMIT_STATUS] [varchar](50) NULL,
	[FCR_NCP_TRANSMIT_DATE] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_1] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_2] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_3] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_4] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_5] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_6] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_7] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_8] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_9] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_10] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_11] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_12] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_13] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_14] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_15] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_16] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_17] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_18] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_19] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_20] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_21] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_22] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_23] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_24] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_25] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_26] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_27] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_28] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_29] [varchar](50) NULL,
	[EXCLUSION_INDICATORS_30] [varchar](50) NULL,
	[NCP_FCR_SSN] [varchar](50) NULL,
	[NCP_FCR_SSN_VERIFICATION] [varchar](50) NULL,
	[NCP_SSN_ORIGIN] [varchar](50) NULL,
	[NCP_SSN_SECURITY] [varchar](50) NULL,
	[DEATH_DATE] [varchar](50) NULL,
	[CSLN_ARREARAGE] [varchar](50) NULL,
	[NCP_ESC_REPORT_DATE] [varchar](50) NULL,
	[TOTAL_UBI_PERCENTAGE] [varchar](50) NULL,
	[NCP_EMAIL_ADDRESS] [varchar](50) NULL,
	[CASE_BYPASSED_FOR_OFFSET] [varchar](50) NULL,
	[NCP_DOC_INMATE_IND] [varchar](50) NULL,
	[NCP_DOC_WAGE_WITHOLDING] [varchar](50) NULL,
	[NCP_ACTUAL_CONVERSION_DATE] [varchar](50) NULL,
	[NCP_CONVERSION_STATUS] [varchar](50) NULL,
	[NCP_INCORRECT_SSN] [varchar](50) NULL,
	[CAPSS_NCP_PRSN_ID] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
