USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'VapImage_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'QiStatus_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DescriptionProfile_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'Disestablish_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'MethodDisestablish_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'FileDisestablish_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'StateDisestablish_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'PaternityEst_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'PaternityEst_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'FileEstablish_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'StateEstablish_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'StatusEstablish_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'PaternityEst_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherSuffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFather_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherSuffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFather_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherSuffix_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherMiddle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherFirst_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMother_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionCountry_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionState_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionCounty_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionCity_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'Conception_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'BornOfMarriage_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'BirthCertificate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
/****** Object:  Table [dbo].[MemberPaternity_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[MemberPaternity_T1]
GO
/****** Object:  Table [dbo].[MemberPaternity_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MemberPaternity_T1](
	[MemberMci_IDNO] [numeric](10, 0) NOT NULL,
	[BirthCertificate_ID] [char](20) NOT NULL,
	[BornOfMarriage_CODE] [char](1) NOT NULL,
	[Conception_DATE] [date] NOT NULL,
	[ConceptionCity_NAME] [char](28) NOT NULL,
	[ConceptionCounty_IDNO] [numeric](3, 0) NOT NULL,
	[ConceptionState_CODE] [char](2) NOT NULL,
	[ConceptionCountry_CODE] [char](2) NOT NULL,
	[EstablishedMother_CODE] [char](1) NOT NULL,
	[EstablishedMotherMci_IDNO] [numeric](10, 0) NOT NULL,
	[EstablishedMotherLast_NAME] [char](20) NOT NULL,
	[EstablishedMotherFirst_NAME] [char](16) NOT NULL,
	[EstablishedMotherMiddle_NAME] [char](20) NOT NULL,
	[EstablishedMotherSuffix_NAME] [char](4) NOT NULL,
	[EstablishedFather_CODE] [char](1) NOT NULL,
	[EstablishedFatherMci_IDNO] [numeric](10, 0) NOT NULL,
	[EstablishedFatherLast_NAME] [char](20) NOT NULL,
	[EstablishedFatherFirst_NAME] [char](16) NOT NULL,
	[EstablishedFatherMiddle_NAME] [char](20) NOT NULL,
	[EstablishedFatherSuffix_NAME] [char](4) NOT NULL,
	[DisEstablishedFather_CODE] [char](1) NOT NULL,
	[DisEstablishedFatherMci_IDNO] [numeric](10, 0) NOT NULL,
	[DisEstablishedFatherLast_NAME] [char](20) NOT NULL,
	[DisEstablishedFatherFirst_NAME] [char](16) NOT NULL,
	[DisEstablishedFatherMiddle_NAME] [char](20) NOT NULL,
	[DisEstablishedFatherSuffix_NAME] [char](4) NOT NULL,
	[PaternityEst_INDC] [char](1) NOT NULL,
	[StatusEstablish_CODE] [char](1) NOT NULL,
	[StateEstablish_CODE] [char](2) NOT NULL,
	[FileEstablish_ID] [char](10) NOT NULL,
	[PaternityEst_CODE] [char](2) NOT NULL,
	[PaternityEst_DATE] [date] NOT NULL,
	[StateDisestablish_CODE] [char](2) NOT NULL,
	[FileDisestablish_ID] [char](10) NOT NULL,
	[MethodDisestablish_CODE] [char](3) NOT NULL,
	[Disestablish_DATE] [date] NOT NULL,
	[DescriptionProfile_TEXT] [varchar](200) NOT NULL,
	[QiStatus_CODE] [char](1) NOT NULL,
	[VapImage_CODE] [char](1) NOT NULL,
	[WorkerUpdate_ID] [char](30) NOT NULL,
	[BeginValidity_DATE] [date] NOT NULL,
	[Update_DTTM] [datetime2](7) NOT NULL,
	[TransactionEventSeq_NUMB] [numeric](19, 0) NOT NULL,
 CONSTRAINT [MPAT_I1] PRIMARY KEY CLUSTERED 
(
	[MemberMci_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Identifies the system assigned number to the Member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Birth Certificate Number for the member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'BirthCertificate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the Member was born out of Wed-lock. Values are obtained from REFM (DEMO/BORN).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'BornOfMarriage_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Conception Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'Conception_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the City of Conception.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionCity_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the County of Conception.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionCounty_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the State of Conception. Values are obtained from REFM (STAT/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionState_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Country of Conception. Values are obtained from REFM (CTRY/CTRY).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'ConceptionCountry_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Established biological mother code. Values are obtained from REFM (CCRT/ESTM).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMother_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the MCI of the established mother of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last name of the established mother of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'First name of the established mother of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Middle name of the established father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Suffix name of the established father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedMotherSuffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Established biological father code. Values are obtained from REFM (CCRT/ESTF).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFather_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the MCI of the established father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last name of the established father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'First name of the established father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Middle name of the established father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Suffix name of the established father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'EstablishedFatherSuffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Disestablished biological father code. Values are obtained from REFM (CCRT/ESTF).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFather_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the MCI of the disestablished father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last name of the disestablished father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'First name of the disestablished father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherFirst_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Middle name of the disestablished father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherMiddle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Suffix name of the disestablished father of the child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DisEstablishedFatherSuffix_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the Paternity has been Acknowledged or not. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'PaternityEst_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Paternity Status of the Member. Values are obtained from REFM (DEMO/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'StatusEstablish_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Paternity Established State. Values are obtained from REFM (STAT/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'StateEstablish_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Establishment File Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'FileEstablish_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Provides a reason for establishing the paternity. Values are obtained from REFM (DEMO/ESTM).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'PaternityEst_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Date on which the Paternity was established.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'PaternityEst_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the State which Disestablished the File Number. Values are obtained from REFM (STAT/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'StateDisestablish_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Disestablishment File Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'FileDisestablish_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Disestablishment Method of the Member. Values are obtained from REFM (DEMO/DISE).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'MethodDisestablish_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Disestablishment Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'Disestablish_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Any Addition Notes about the Child.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'DescriptionProfile_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the QI Status of paternity indicators. Values are obtained from REFM (DEMO/QIST).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'QiStatus_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates if a VAP image is on record for the child. Values are obtained from REFM (DEMO/VAPI).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'VapImage_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the worker ID who created/modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date from when the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the effective Date with Time at which this record was inserted / modified in this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Unique Sequence Number that will be generated for a Transaction on the Table. This field is used for checking concurrency at the time of online transaction updates.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MemberPaternity_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'
GO
