USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N' ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LicenseStatus_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Owner_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'OwnerSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'OwnerPrefixSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MultiEmployer_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationZipOLd_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LicenseNo_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'OwnershipType_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Business_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Trade_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Business_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'SuffixSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'PrefixSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'

GO
/****** Object:  Table [dbo].[LoadDorSplic_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadDorSplic_T1]
GO
/****** Object:  Table [dbo].[LoadDorSplic_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoadDorSplic_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[PrefixSsn_NUMB] [char](1) NOT NULL,
	[MemberSsn_NUMB] [char](9) NOT NULL,
	[SuffixSsn_NUMB] [char](3) NOT NULL,
	[Business_NAME] [char](32) NOT NULL,
	[Trade_NAME] [char](32) NOT NULL,
	[Business_CODE] [char](3) NOT NULL,
	[OwnershipType_CODE] [char](2) NOT NULL,
	[LicenseNo_TEXT] [char](10) NOT NULL,
	[LocationLine1Old_ADDR] [char](32) NOT NULL,
	[LocationLine2Old_ADDR] [char](32) NOT NULL,
	[LocationCityOld_ADDR] [char](25) NOT NULL,
	[LocationStateOld_ADDR] [char](2) NOT NULL,
	[LocationZipOLd_ADDR] [char](9) NOT NULL,
	[MailingLine1Old_ADDR] [char](32) NOT NULL,
	[MailingLine2Old_ADDR] [char](32) NOT NULL,
	[MailingCityOld_ADDR] [char](25) NOT NULL,
	[MailingStateOld_ADDR] [char](2) NOT NULL,
	[MailingZipOld_ADDR] [char](9) NOT NULL,
	[MultiEmployer_INDC] [char](1) NOT NULL,
	[OwnerPrefixSsn_NUMB] [char](1) NOT NULL,
	[OwnerSsn_NUMB] [char](9) NOT NULL,
	[Owner_NAME] [char](32) NOT NULL,
	[LicenseStatus_CODE] [char](1) NOT NULL,
	[LocationNormalization_CODE] [char](1) NOT NULL,
	[LocationLine1_ADDR] [varchar](50) NOT NULL,
	[LocationLine2_ADDR] [varchar](50) NOT NULL,
	[LocationCity_ADDR] [char](28) NOT NULL,
	[LocationState_ADDR] [char](2) NOT NULL,
	[LocationZip_ADDR] [char](15) NOT NULL,
	[MailingNormalization_CODE] [char](1) NOT NULL,
	[MailingLine1_ADDR] [varchar](50) NOT NULL,
	[MailingLine2_ADDR] [varchar](50) NOT NULL,
	[MailingCity_ADDR] [char](28) NOT NULL,
	[MailingState_ADDR] [char](2) NOT NULL,
	[MailingZip_ADDR] [char](15) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL,
	[Process_INDC] [char](1) NOT NULL,
 CONSTRAINT [LDSPL_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Identifies record uniquely' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Prefix SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'PrefixSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Suffix SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'SuffixSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Business name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Business_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Trade Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Trade_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Business Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Business_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Ownership Type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'OwnershipType_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'License Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LicenseNo_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old location Address Line1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old location Address Line2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Location City' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Location state' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Location Zip' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationZipOLd_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Mailing Address Line1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Mailing Address Line2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Mailing City' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Mailing State' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Old Mailing Zip' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Multi Employer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MultiEmployer_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Owner Prefix SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'OwnerPrefixSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Owner SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'OwnerSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Owner Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Owner_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'License Status' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LicenseStatus_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location normalization code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Location Address Line1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Location Address Line2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Location City ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Location State' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Location Zip' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'LocationZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mailing Normalization Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'  ', @value=N'Normalized Mailing Address Line 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N' ', @value=N'Normalized Mailing Address Line 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Mailing City' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Mailing State' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalized Mailing Zip' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'MailingZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Run Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the record is already processed or not.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Holds the Locate details of NCP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadDorSplic_T1'
GO
