USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'BarAtty_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'EportalSubscription_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Normalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'DescriptionNotes_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'PpaEiwn_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'SendShort_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Tribal_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Tribal_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'NmsnInst_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'NmsnGen_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Enmsn_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Eiwn_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Note_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Verified_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Nsf_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'DchCarrier_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'County_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Sein_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'InsuranceProvided_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'ParentFein_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Contact_EML'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Fein_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'NewOtherParty_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'ReferenceOthp_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Fax_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Phone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'DescriptionContactOther_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Country_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Fips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'State_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Zip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'City_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Line2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Line1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Attn_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Aka_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'OtherParty_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'TypeOthp_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'OtherParty_IDNO'

GO
/****** Object:  Index [OTHP_TYPOTHP_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP INDEX [OTHP_TYPOTHP_I1] ON [dbo].[OtherParty_T1]
GO
/****** Object:  Index [OTHP_REFERENCE_OTHP_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP INDEX [OTHP_REFERENCE_OTHP_I1] ON [dbo].[OtherParty_T1]
GO
/****** Object:  Index [OTHP_FEIN_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP INDEX [OTHP_FEIN_I1] ON [dbo].[OtherParty_T1]
GO
/****** Object:  Table [dbo].[OtherParty_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[OtherParty_T1]
GO
/****** Object:  Table [dbo].[OtherParty_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OtherParty_T1](
	[OtherParty_IDNO] [numeric](9, 0) NOT NULL,
	[TypeOthp_CODE] [char](1) NOT NULL,
	[OtherParty_NAME] [varchar](60) NOT NULL,
	[Aka_NAME] [char](30) NOT NULL,
	[Attn_ADDR] [char](40) NOT NULL,
	[Line1_ADDR] [varchar](50) NOT NULL,
	[Line2_ADDR] [varchar](50) NOT NULL,
	[City_ADDR] [char](28) NOT NULL,
	[Zip_ADDR] [char](15) NOT NULL,
	[State_ADDR] [char](2) NOT NULL,
	[Fips_CODE] [char](7) NOT NULL,
	[Country_ADDR] [char](2) NOT NULL,
	[DescriptionContactOther_TEXT] [char](30) NOT NULL,
	[Phone_NUMB] [numeric](15, 0) NOT NULL,
	[Fax_NUMB] [numeric](15, 0) NOT NULL,
	[ReferenceOthp_IDNO] [numeric](10, 0) NOT NULL,
	[NewOtherParty_IDNO] [numeric](9, 0) NOT NULL,
	[Fein_IDNO] [numeric](9, 0) NOT NULL,
	[Contact_EML] [varchar](100) NOT NULL,
	[ParentFein_IDNO] [numeric](9, 0) NOT NULL,
	[InsuranceProvided_INDC] [char](1) NOT NULL,
	[Sein_IDNO] [numeric](12, 0) NOT NULL,
	[County_IDNO] [numeric](3, 0) NOT NULL,
	[DchCarrier_IDNO] [numeric](8, 0) NOT NULL,
	[Nsf_INDC] [char](1) NOT NULL,
	[Verified_INDC] [char](1) NOT NULL,
	[Note_INDC] [char](1) NOT NULL,
	[Eiwn_INDC] [char](1) NOT NULL,
	[Enmsn_INDC] [char](1) NOT NULL,
	[NmsnGen_INDC] [char](1) NOT NULL,
	[NmsnInst_INDC] [char](1) NOT NULL,
	[Tribal_CODE] [char](2) NOT NULL,
	[Tribal_INDC] [char](1) NOT NULL,
	[BeginValidity_DATE] [date] NOT NULL,
	[EndValidity_DATE] [date] NOT NULL,
	[WorkerUpdate_ID] [char](30) NOT NULL,
	[Update_DTTM] [datetime2](7) NOT NULL,
	[TransactionEventSeq_NUMB] [numeric](19, 0) NOT NULL,
	[SendShort_INDC] [char](1) NOT NULL,
	[PpaEiwn_INDC] [char](1) NOT NULL,
	[DescriptionNotes_TEXT] [varchar](4000) NOT NULL,
	[Normalization_CODE] [char](1) NOT NULL,
	[EportalSubscription_INDC] [char](1) NOT NULL,
	[BarAtty_NUMB] [numeric](10, 0) NOT NULL,
	[ReceivePaperForms_INDC] [char](1) NOT NULL,
 CONSTRAINT [OTHP_I1] PRIMARY KEY CLUSTERED 
(
	[OtherParty_IDNO] ASC,
	[TypeOthp_CODE] ASC,
	[TransactionEventSeq_NUMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [OTHP_FEIN_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
CREATE NONCLUSTERED INDEX [OTHP_FEIN_I1] ON [dbo].[OtherParty_T1]
(
	[Fein_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [OTHP_REFERENCE_OTHP_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
CREATE NONCLUSTERED INDEX [OTHP_REFERENCE_OTHP_I1] ON [dbo].[OtherParty_T1]
(
	[ReferenceOthp_IDNO] ASC,
	[TypeOthp_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [OTHP_TYPOTHP_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
CREATE NONCLUSTERED INDEX [OTHP_TYPOTHP_I1] ON [dbo].[OtherParty_T1]
(
	[TypeOthp_CODE] ASC,
	[EndValidity_DATE] ASC
)
INCLUDE ( 	[OtherParty_IDNO],
	[OtherParty_NAME],
	[City_ADDR],
	[State_ADDR],
	[ReferenceOthp_IDNO],
	[County_IDNO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Unique System Assigned number for the Other Party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'OtherParty_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'Indicates the Other Party Type. Values are obtained from REFM (OTHP/OTYP).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'TypeOthp_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Name of the Other Party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'OtherParty_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Other Name of the Party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Aka_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether a document should be delivered to the attention of a specific person or department of the other party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Attn_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Other Party''s First Line of the Street Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Line1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Other Party''s Second Line of the Street Address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Line2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party''s Residing City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'City_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party''s Residing Zip Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Zip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party''s Residing State. Values are obtained from REFM (STAT/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'State_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party''s Residing FIPS Code. Possible values are limited by values in FIPS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Fips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party''s Residing Country. Values are obtained from REFM (CTRY/CTRY).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Country_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Person to Contact at the Other Party Location.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'DescriptionContactOther_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party''s Phone Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Phone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party''s Fax Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Fax_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Reference Id of the Other Party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'ReferenceOthp_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Other Party ID to which this Party is merged.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'NewOtherParty_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Federal Identification Number of the Other Party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Fein_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Email ID of the Other Party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Contact_EML'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Unique federal identification number for parent employer.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'ParentFein_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the employer provided the insurance or not. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'InsuranceProvided_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State employer identification number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Sein_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'County code of the other party.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'County_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Insurance carrier ID.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'DchCarrier_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Non sufficient fund indicator. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Nsf_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the other party is verified or not. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Verified_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether there is note for other party. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Note_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the employer accepts electronic income with hold. Values are obtained from REFM (OTHP/EIWN).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Eiwn_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the source of income is able to receive the National Medical Support Notice electronically. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Enmsn_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether Privilege is there to Generate NMSN. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'NmsnGen_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether NMSN Instruction Received. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'NmsnInst_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Tribal Code. Values are obtained from REFM (OTHP/TRCD).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Tribal_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates the Tribal Indicator. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Tribal_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date from when the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date up to which the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the worker ID who created/modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the effective Date with Time at which this record was inserted / modified in this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'
GO
EXEC sys.sp_addextendedproperty @name=N'3', @value=N'Unique Sequence Number that will be  generated for a Transaction on the Table. This field is used for checking concurrency at the time of online transaction updates.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'If the Employer accepts the NMSN then we will send 4 pages of the NMSN form, otherwise we will send 10 pages of NMSN form to the employer. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'SendShort_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates whether the pension plan administrator accepts the income withhold notices or not. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'PpaEiwn_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores DESC notes from OTHP screen.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'DescriptionNotes_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates address normalization status. Values are obtained from REFM (ADDR/NORM).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'Normalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Portal Subscription Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'EportalSubscription_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Attorney Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1', @level2type=N'COLUMN',@level2name=N'BarAtty_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table stores the individuals or Agencies information who are involved in the Child support activities but not members of the system. This table stores valid records as well as history records which follows the temporal model structure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OtherParty_T1'
GO
