USE [DEV_ONL_DB]
GO
/****** Object:  Table [dbo].[IVD_CASE_CHILD_RELATIONSHIP]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[IVD_CASE_CHILD_RELATIONSHIP]
GO
/****** Object:  Table [dbo].[IVD_CASE_CHILD_RELATIONSHIP]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IVD_CASE_CHILD_RELATIONSHIP](
	[#ISN] [varchar](50) NULL,
	[CASE_ID] [varchar](50) NULL,
	[CHILD_ID] [varchar](50) NULL,
	[TIME_MODIFIED] [varchar](50) NULL,
	[USERID_MODIFIED] [varchar](50) NULL,
	[NCP_RELATIONSHIP_TO_CHILD] [varchar](50) NULL,
	[PARENT_RELATIONSHIP_AT_BIRTH] [varchar](50) NULL,
	[CHILD_PREV_PATERNITY_ESTABLISHED] [varchar](50) NULL,
	[CHILD_LGL_PATERNITY_ESTABLISHED] [varchar](50) NULL,
	[LGL_PATERNITY_ESTABLISHED_DATE] [varchar](50) NULL,
	[CP_RELATIONSHIP_TO_CHILD] [varchar](50) NULL,
	[CHILD_RELATIONSHIP_TO_CP] [varchar](50) NULL,
	[CP_NCP_RELATIONSHIP_AT_BIRTH] [varchar](50) NULL,
	[SUPPORT_ESTABLISHED] [varchar](50) NULL,
	[SUPPORT_ESTABLISHED_DATE] [varchar](50) NULL,
	[NCP_VISIT_HOSPITAL] [varchar](50) NULL,
	[NCP_PICTURE_TAKEN] [varchar](50) NULL,
	[NCP_OFFER_MARRIAGE] [varchar](50) NULL,
	[NCP_PAY_MEDICAL_BILLS] [varchar](50) NULL,
	[NCP_BUY_PRESENTS] [varchar](50) NULL,
	[NCP_DISCUSS_ABORTION] [varchar](50) NULL,
	[NCP_VISIT_CHILD] [varchar](50) NULL,
	[NCP_ADMIT_BEING_FATHER] [varchar](50) NULL,
	[NCP_NAME_ON_BIRTH_CERTIFICATE] [varchar](50) NULL,
	[NCP_OTHER_EVIDENCE_FATHERHOOD_1] [varchar](50) NULL,
	[NCP_OTHER_EVIDENCE_FATHERHOOD_2] [varchar](50) NULL,
	[CHILD_INVOLVEMENT_STATUS] [varchar](50) NULL,
	[FCR_CHILD_TRANSMIT_STATUS] [varchar](50) NULL,
	[FCR_CHILD_TRANSMIT_DATE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
