USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TotalViews_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TotalReplies_QNTY'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'EventGlobalSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'DescriptionNote_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'OpenCases_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Received_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Action_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Due_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Start_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'WorkerCreated_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'RoleAssigned_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'WorkerAssigned_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TypeAssigned_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Status_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'MethodContact_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'SourceContact_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TypeContact_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'NotifySender_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'CallBack_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Subject_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Category_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Office_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'MinorIntSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'MajorIntSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Post_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Topic_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
/****** Object:  Table [dbo].[Notes_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[Notes_T1]
GO
/****** Object:  Table [dbo].[Notes_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notes_T1](
	[Case_IDNO] [numeric](6, 0) NOT NULL,
	[Topic_IDNO] [numeric](10, 0) NOT NULL,
	[Post_IDNO] [numeric](19, 0) NOT NULL,
	[MajorIntSeq_NUMB] [numeric](5, 0) NOT NULL,
	[MinorIntSeq_NUMB] [numeric](5, 0) NOT NULL,
	[Office_IDNO] [numeric](3, 0) NOT NULL,
	[Category_CODE] [char](2) NOT NULL,
	[Subject_CODE] [char](5) NOT NULL,
	[CallBack_INDC] [char](1) NOT NULL,
	[NotifySender_INDC] [char](1) NOT NULL,
	[TypeContact_CODE] [char](2) NOT NULL,
	[SourceContact_CODE] [char](2) NOT NULL,
	[MethodContact_CODE] [char](2) NOT NULL,
	[Status_CODE] [char](1) NOT NULL,
	[TypeAssigned_CODE] [char](1) NOT NULL,
	[WorkerAssigned_ID] [char](30) NOT NULL,
	[RoleAssigned_ID] [char](10) NOT NULL,
	[WorkerCreated_ID] [char](30) NOT NULL,
	[Start_DATE] [date] NOT NULL,
	[Due_DATE] [date] NOT NULL,
	[Action_DATE] [date] NOT NULL,
	[Received_DATE] [date] NOT NULL,
	[OpenCases_CODE] [char](31) NOT NULL,
	[DescriptionNote_TEXT] [varchar](4000) NOT NULL,
	[BeginValidity_DATE] [date] NOT NULL,
	[EndValidity_DATE] [date] NOT NULL,
	[WorkerUpdate_ID] [char](30) NOT NULL,
	[TransactionEventSeq_NUMB] [numeric](19, 0) NOT NULL,
	[EventGlobalSeq_NUMB] [numeric](19, 0) NOT NULL,
	[Update_DTTM] [datetime2](7) NOT NULL,
	[TotalReplies_QNTY] [numeric](10, 0) NOT NULL,
	[TotalViews_QNTY] [numeric](10, 0) NOT NULL,
 CONSTRAINT [NOTE_I1] PRIMARY KEY CLUSTERED 
(
	[Case_IDNO] ASC,
	[Post_IDNO] ASC,
	[Topic_IDNO] ASC,
	[TransactionEventSeq_NUMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Unique ID generated for the DACSES Case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'The system generated Topic ID to uniquely identify a Note item and view its History. This is generated using the sequence SEQ_POST.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Topic_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'3', @value=N'The system generated Post ID for each message.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Post_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The system generated sequence number for every new Minor Activity within the same Major Activity Sequence. It''s the occurrence of this major activity.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'MajorIntSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The system generated number for every new Minor Activity within the same Major Activity Sequence.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'MinorIntSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field indicates the Office in which the Case is created.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Office_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field indicates the type of unit/area entering the note. Categories are: Case Initiation, Case Management, Customer Service, Enforcement, Establishment, Financial, and Interstate Values are obtained from REFM (CATG/CATG).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Category_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field indicates the Subject would be selected based on the Category and the worker would see the Adjustment Type table or Referral Type table. Values are obtained from REFM (FNOT/FNOT) and (WRKL/REFI).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Subject_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field indicates the Call back is required or not. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'CallBack_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field indicates need to notify the sender anytime the status is updated. Values are obtained from REFM (YSNO/YSNO).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'NotifySender_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field indicates how the information was received. Values retrieved from REFM (NOTE/CONT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TypeContact_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will identify who provided the information, i.e. NCP, CP, Attorney, Employer, Governor Office, and Legislature. Values are obtained from REFM (NOTE/SRCE).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'SourceContact_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will identify how the information is received i.e. commissioner referral, direct letter, e-mail, federal referral and governor referral. Values are obtained from REFM (NOTE/CONM).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'MethodContact_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field identifies the status of the note. Values are obtained from REFM (NOTE/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Status_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will be used to identify worker or role should receive the work list item. Possible values are W - Worker Based, R - Role Based.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TypeAssigned_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field shows name of the worker or role receive work list item.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'WorkerAssigned_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the role ID, if this alert is assigned to a specified role.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'RoleAssigned_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The worker ID who initiated a Note request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'WorkerCreated_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date on which the Note was inserted. Default it is current date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Start_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date the work list will be due.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Due_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date of the last action taken by a Worker.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Action_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Date Received is completed by the worker recording the correspondence.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Received_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Note will be created for either all CPs open cases or NCPs open cases according to the selection made. Possible values are C-CP or A-NCP or null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'OpenCases_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field stores any Notes provided by the worker.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'DescriptionNote_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date from when the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'BeginValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The Effective date up to which the Changed Information is Valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'EndValidity_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the worker ID who created/modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'4', @value=N'Unique Sequence Number that will be generated for a Transaction on the Table. This field is used for checking concurrency at the time of online transaction updates.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Global Event Sequence number of the Event that caused this transaction. This is the Global event value generated for financial request. Needed for financial transactions only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'EventGlobalSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the effective Date with Time at which this record was inserted / modified in this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Holds the number of replies for a post.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TotalReplies_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Holds the number of times a post has been viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1', @level2type=N'COLUMN',@level2name=N'TotalViews_QNTY'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table stores the description and status of the Case Notes entered for a Case ID.  There can be multiple posts for each Topic of the note. This table stores valid records as well as history records which follows the temporal model structure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notes_T1'
GO
