USE [DEV_ONL_DB]
GO
/****** Object:  Table [dbo].[IVD_CASE_REFERENCE]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[IVD_CASE_REFERENCE]
GO
/****** Object:  Table [dbo].[IVD_CASE_REFERENCE]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IVD_CASE_REFERENCE](
	[#ISN] [varchar](50) NULL,
	[CASE_ID] [varchar](50) NULL,
	[TIME_MODIFIED] [varchar](50) NULL,
	[USERID_MODIFIED] [varchar](50) NULL,
	[CP_ID] [varchar](50) NULL,
	[NCP_ID] [varchar](50) NULL,
	[EDIT_ERROR_INDICATOR] [varchar](50) NULL,
	[LEGAL_CASE_COUNTY] [varchar](50) NULL,
	[INITIATING_FIPS] [varchar](50) NULL,
	[CASE_PRIORITY] [varchar](50) NULL,
	[AFDC_CERTIFICATION_DATE] [varchar](50) NULL,
	[CSE_REFERRAL_DATE] [varchar](50) NULL,
	[CSE_RECEIVED_DATE] [varchar](50) NULL,
	[SERVICE_CODE] [varchar](50) NULL,
	[GOOD_CAUSE_DETERMINATION] [varchar](50) NULL,
	[GOOD_CAUSE_REASON] [varchar](50) NULL,
	[EXPEDITED_CASE] [varchar](50) NULL,
	[SUPPORT_PAYMENT_METHOD] [varchar](50) NULL,
	[SUPPORT_BUDGETED] [varchar](50) NULL,
	[LAST_PAYMENT_DATE] [varchar](50) NULL,
	[CASE_RECEIVED_BY_LEGAL_DATE] [varchar](50) NULL,
	[CP_2700_SIGNATURE] [varchar](50) NULL,
	[CP_2700_SIGNATURE_DATE] [varchar](50) NULL,
	[NCP_ATTORNEY_FIRST_NAME] [varchar](50) NULL,
	[NCP_ATTORNEY_MID_NAME] [varchar](50) NULL,
	[NCP_ATTORNEY_LAST_NAME] [varchar](50) NULL,
	[NCP_ATTORNEY_NAME_SUFFIX] [varchar](50) NULL,
	[NCP_ATTORNEY_ADDRESS_LINE_1] [varchar](50) NULL,
	[NCP_ATTORNEY_ADDRESS_LINE_2] [varchar](50) NULL,
	[NCP_ATTORNEY_CITY] [varchar](50) NULL,
	[NCP_ATTORNEY_STATE] [varchar](50) NULL,
	[NCP_ATTORNEY_ZIP] [varchar](50) NULL,
	[NCP_ATTORNEY_PHONE] [varchar](50) NULL,
	[CP_ATTORNEY] [varchar](50) NULL,
	[CP_ATTORNEY_FIRST_NAME] [varchar](50) NULL,
	[CP_ATTORNEY_MID_INIT] [varchar](50) NULL,
	[CP_ATTORNEY_LAST_NAME] [varchar](50) NULL,
	[CP_ATTORNEY_NAME_SUFFIX] [varchar](50) NULL,
	[CP_ATTORNEY_ADDRESS_LINE_1] [varchar](50) NULL,
	[CP_ATTORNEY_ADDRESS_LINE_2] [varchar](50) NULL,
	[CP_ATTORNEY_CITY] [varchar](50) NULL,
	[CP_ATTORNEY_STATE] [varchar](50) NULL,
	[CP_ATTORNEY_ZIP] [varchar](50) NULL,
	[CASE_CLOSURE_DATE] [varchar](50) NULL,
	[CASE_CLOSURE_REASON] [varchar](50) NULL,
	[CASE_CLOSURE_CODE] [varchar](50) NULL,
	[CASE_COMMENTS_1] [varchar](50) NULL,
	[CASE_COMMENTS_2] [varchar](50) NULL,
	[CASE_COMMENTS_3] [varchar](50) NULL,
	[OUT_OF_STATE_ID] [varchar](50) NULL,
	[CASE_PRIORITY_AGE_DATE] [varchar](50) NULL,
	[RELATIONSHIP_OF_NCP_TO_CP] [varchar](50) NULL,
	[RESPONDING_FIPS] [varchar](50) NULL,
	[CP_SUPPORT_ATTORNEY] [varchar](50) NULL,
	[CASE_SOURCE] [varchar](50) NULL,
	[CP_ASSIGNMENT_FEE_PAID] [varchar](50) NULL,
	[CP_ASSIGNMENT_FEE_DATE] [varchar](50) NULL,
	[CP_ATTNY_ACTIVELY_SEEKING_SUPP] [varchar](50) NULL,
	[CASE_INTER_FIRST_NAME] [varchar](50) NULL,
	[CASE_INTER_MID_NAME] [varchar](50) NULL,
	[CASE_INTER_LAST_NAME] [varchar](50) NULL,
	[CASE_INTER_SUFFIX] [varchar](50) NULL,
	[CASE_INTER_ADDRESS_LINE_1] [varchar](50) NULL,
	[CASE_INTER_ADDRESS_LINE_2] [varchar](50) NULL,
	[CASE_INTER_ADDRESS_LINE_3] [varchar](50) NULL,
	[CASE_INTER_ADDRESS_LINE_4] [varchar](50) NULL,
	[CASE_INTER_CITY] [varchar](50) NULL,
	[CASE_INTER_FAX] [varchar](50) NULL,
	[CASE_INTER_STATE] [varchar](50) NULL,
	[CASE_INTER_ZIP] [varchar](50) NULL,
	[CASE_INTER_PHONE] [varchar](50) NULL,
	[CASE_OWNER] [varchar](50) NULL,
	[CASE_HANDLER] [varchar](50) NULL,
	[FOSTER_CARE_CASE_ID] [varchar](50) NULL,
	[FORWARDING_DESTINATION] [varchar](50) NULL,
	[CASE_ADDED_DATE] [varchar](50) NULL,
	[CASE_AREA_DATE] [varchar](50) NULL,
	[WORKLOAD_INDICATOR] [varchar](50) NULL,
	[CASE_CONVERSION_STATUS] [varchar](50) NULL,
	[GP_LIABILITY] [varchar](50) NULL,
	[GP_LIABILITY_EFF_DATE] [varchar](50) NULL,
	[AUX_KEY] [varchar](50) NULL,
	[FCR_CASE_TRANSMIT_STATUS] [varchar](50) NULL,
	[FCR_CASE_TRANSMIT_DATE] [varchar](50) NULL,
	[TOTAL_HELD] [varchar](50) NULL,
	[RECEIPTS_NOT_DISTRIBUTED] [varchar](50) NULL,
	[CP_ATTORNEY_PHONE] [varchar](50) NULL,
	[CP_ATTORNEY_FAX] [varchar](50) NULL,
	[NCP_ATTORNEY_FAX] [varchar](50) NULL,
	[DESIGNATION_INDICATOR] [varchar](50) NULL,
	[FCR_ACTION_CODE] [varchar](50) NULL,
	[TRIBAL_INTER_IND] [varchar](50) NULL,
	[CASE_ACTUAL_CONVERSION_DATE] [varchar](50) NULL,
	[CASE_EFFECTIVE_CONVERSION_DATE] [varchar](50) NULL,
	[CASE_INTER_EMAIL_ADDR_OUTGOING] [varchar](50) NULL,
	[CURR_CASE_STATUS] [varchar](50) NULL,
	[CURR_STATUS_DATE] [varchar](50) NULL,
	[CURR_CASE_TYPE] [varchar](50) NULL,
	[CURR_TYPE_DATE] [varchar](50) NULL,
	[MEDICAID_HOUSEHOLD_NUMBER] [varchar](50) NULL,
	[MEDICAID_CONV_CASE_TYPE] [varchar](50) NULL,
	[MEDICAID_LIF_INDICATOR] [varchar](50) NULL,
	[MEDICAID_CONV_CASE_STATUS] [varchar](50) NULL,
	[CONV_READ_ONLY_IND] [varchar](50) NULL,
	[MEDICAID_CONV_END_DATE] [varchar](50) NULL,
	[FORMER_TANF_CONV_CASE_TYPE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
