USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error5_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error4_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error3_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error2_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error1_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Acknowledge_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastPrimary_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddlePrimary_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstPrimary_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'PrimarySsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'ZipOfPaymentSsa_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'ZipLastResiSsa_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Death_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Batch_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'DateBirthSsa_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Multiple3Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Multiple2Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Multiple1Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'CorrectedSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Enumeration_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource8_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource7_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource6_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource5_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource4_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource3_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource2_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource1_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Irs1099_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'NewMemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias4_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias4_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias4_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias3_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias2_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias1_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Additional2Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Additional1Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'IrsU1Ssn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastMother_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleMother_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstMother_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastFather_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleFather_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstFather_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'BirthStCountry_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'BirthCity_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'PreviousMemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberSex_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FamilyViolence_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeParticipant_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'BundleResult_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeLocRequest_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FcrReserved_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Action_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'

GO
/****** Object:  Table [dbo].[LoadFcrPersonAcknowledgementDetails_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadFcrPersonAcknowledgementDetails_T1]
GO
/****** Object:  Table [dbo].[LoadFcrPersonAcknowledgementDetails_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoadFcrPersonAcknowledgementDetails_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[Rec_ID] [char](2) NOT NULL,
	[Action_CODE] [char](1) NOT NULL,
	[Case_IDNO] [char](15) NOT NULL,
	[FcrReserved_CODE] [char](2) NOT NULL,
	[UserField_NAME] [char](15) NOT NULL,
	[CountyFips_CODE] [char](3) NOT NULL,
	[TypeLocRequest_CODE] [char](2) NOT NULL,
	[BundleResult_INDC] [char](1) NOT NULL,
	[TypeParticipant_CODE] [char](2) NOT NULL,
	[FamilyViolence_CODE] [char](2) NOT NULL,
	[MemberMci_IDNO] [char](15) NOT NULL,
	[MemberSex_CODE] [char](1) NOT NULL,
	[Birth_DATE] [char](8) NOT NULL,
	[MemberSsn_NUMB] [char](9) NOT NULL,
	[PreviousMemberSsn_NUMB] [char](9) NOT NULL,
	[First_NAME] [char](16) NOT NULL,
	[Middle_NAME] [char](16) NOT NULL,
	[Last_NAME] [char](30) NOT NULL,
	[BirthCity_NAME] [char](16) NOT NULL,
	[BirthStCountry_CODE] [char](4) NOT NULL,
	[FirstFather_NAME] [char](16) NOT NULL,
	[MiddleFather_NAME] [char](1) NOT NULL,
	[LastFather_NAME] [char](16) NOT NULL,
	[FirstMother_NAME] [char](16) NOT NULL,
	[MiddleMother_NAME] [char](1) NOT NULL,
	[LastMother_NAME] [char](16) NOT NULL,
	[IrsU1Ssn_NUMB] [char](9) NOT NULL,
	[Additional1Ssn_NUMB] [char](9) NOT NULL,
	[Additional2Ssn_NUMB] [char](9) NOT NULL,
	[FirstAlias1_NAME] [char](16) NOT NULL,
	[MiddleAlias1_NAME] [char](16) NOT NULL,
	[LastAlias1_NAME] [char](30) NOT NULL,
	[FirstAlias2_NAME] [char](16) NOT NULL,
	[MiddleAlias2_NAME] [char](16) NOT NULL,
	[LastAlias2_NAME] [char](30) NOT NULL,
	[FirstAlias3_NAME] [char](16) NOT NULL,
	[MiddleAlias3_NAME] [char](16) NOT NULL,
	[LastAlias3_NAME] [char](30) NOT NULL,
	[FirstAlias4_NAME] [char](16) NOT NULL,
	[MiddleAlias4_NAME] [char](16) NOT NULL,
	[LastAlias4_NAME] [char](30) NOT NULL,
	[NewMemberMci_IDNO] [char](15) NOT NULL,
	[Irs1099_INDC] [char](1) NOT NULL,
	[LocateSource1_CODE] [char](3) NOT NULL,
	[LocateSource2_CODE] [char](3) NOT NULL,
	[LocateSource3_CODE] [char](3) NOT NULL,
	[LocateSource4_CODE] [char](3) NOT NULL,
	[LocateSource5_CODE] [char](3) NOT NULL,
	[LocateSource6_CODE] [char](3) NOT NULL,
	[LocateSource7_CODE] [char](3) NOT NULL,
	[LocateSource8_CODE] [char](3) NOT NULL,
	[Enumeration_CODE] [char](1) NOT NULL,
	[CorrectedSsn_NUMB] [char](9) NOT NULL,
	[Multiple1Ssn_NUMB] [char](9) NOT NULL,
	[Multiple2Ssn_NUMB] [char](9) NOT NULL,
	[Multiple3Ssn_NUMB] [char](9) NOT NULL,
	[DateBirthSsa_INDC] [char](1) NOT NULL,
	[Batch_NUMB] [char](6) NOT NULL,
	[Death_DATE] [char](8) NOT NULL,
	[ZipLastResiSsa_CODE] [char](5) NOT NULL,
	[ZipOfPaymentSsa_CODE] [char](5) NOT NULL,
	[PrimarySsn_NUMB] [char](9) NOT NULL,
	[FirstPrimary_NAME] [char](16) NOT NULL,
	[MiddlePrimary_NAME] [char](16) NOT NULL,
	[LastPrimary_NAME] [char](30) NOT NULL,
	[Acknowledge_CODE] [char](5) NOT NULL,
	[Error1_CODE] [char](5) NOT NULL,
	[Error2_CODE] [char](5) NOT NULL,
	[Error3_CODE] [char](5) NOT NULL,
	[Error4_CODE] [char](5) NOT NULL,
	[Error5_CODE] [char](5) NOT NULL,
	[Process_INDC] [char](1) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL,
 CONSTRAINT [LFPAD_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Specifies the system generated sequence number to maintain uniqueness.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Record Id Reference.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Action Type code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Action_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Case id.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Reserved for FCR process.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FcrReserved_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies user field provided by submitter.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Requested County Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Locate Request type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeLocRequest_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Bundle FPLS locate Results.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'BundleResult_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Relationship of the member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'TypeParticipant_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Family violence submitted.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FamilyViolence_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member id for the Case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Sex of the Member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberSex_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Date of Birth.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Social Security No submitted.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Previous SSN submitted.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'PreviousMemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s  Birth City.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'BirthCity_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s  Birth State.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'BirthStCountry_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father’s First name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstFather_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Father’s Middle name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleFather_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Fathers Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastFather_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mothers First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstMother_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mothers Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleMother_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Mothers Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastMother_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'SSN of member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'IrsU1Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Secondary SSN1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Additional1Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'NCP Secondary SSN2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Additional2Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias1_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias2_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias3_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstAlias4_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Middle Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddleAlias4_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Alias Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastAlias4_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'New Member Id.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'NewMemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'used to initiate a request for Locate from the IRS-1099 when the person is being added to the FCR.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Irs1099_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource1_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource2_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource3_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 4.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource4_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 5.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource5_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 6.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource6_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 7.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource7_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Location source 8.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LocateSource8_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Verification code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Enumeration_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Correct SSN.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'CorrectedSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s  Multiple SSN1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Multiple1Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s  Multiple SSN2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Multiple2Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s  Multiple SSN3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Multiple3Ssn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Date of Birth Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'DateBirthSsa_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Batch Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Batch_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Date of Death.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Death_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Zip code of last residence.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'ZipLastResiSsa_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'SSA Zip code of Lump Sum Payment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'ZipOfPaymentSsa_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Primary SSN.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'PrimarySsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Primary First Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FirstPrimary_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Primary Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'MiddlePrimary_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member''s Primary Last Name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'LastPrimary_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Acknowledgement Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Acknowledge_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Error Codes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error1_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Error Codes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error2_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Error Codes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error3_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Error Codes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error4_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Error Codes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Error5_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Y if the record is processed otherwise N.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date on which incoming file from Family court is loaded.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table is used to store the member acknowledgement details from FCR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrPersonAcknowledgementDetails_T1'
GO
