USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedAddrNormalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'SecondPayeeSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'PrimarySsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Payee_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'CasePassBack_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountType_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'StatePassBack_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountHolderBirth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountUpdate_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountBalance_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'TrustFund_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountMatch_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountBalance_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AdditionalStatePassBack_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FipsPassBack_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedStreetOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'SecondPayee_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Matched_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'ForeignCountry_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FullAccountTitle_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'PayeeAccount_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'PayeeLast_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FileGenerated_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FidmFiirSeq_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'

GO
ALTER TABLE [dbo].[LoadFidmAchl_T1] DROP CONSTRAINT [FK_LACHL_LFIIR]
GO
/****** Object:  Table [dbo].[LoadFidmAchl_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadFidmAchl_T1]
GO
/****** Object:  Table [dbo].[LoadFidmAchl_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoadFidmAchl_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[FidmFiirSeq_IDNO] [numeric](19, 0) NOT NULL,
	[Rec_ID] [char](1) NOT NULL,
	[FileGenerated_DATE] [char](6) NOT NULL,
	[PayeeLast_NAME] [char](4) NOT NULL,
	[MatchedSsn_NUMB] [char](9) NOT NULL,
	[PayeeAccount_NUMB] [char](20) NOT NULL,
	[FullAccountTitle_TEXT] [varchar](100) NOT NULL,
	[ForeignCountry_CODE] [char](1) NOT NULL,
	[Matched_NAME] [char](40) NOT NULL,
	[SecondPayee_NAME] [char](40) NOT NULL,
	[MatchedStreetOld_ADDR] [char](40) NOT NULL,
	[MatchedCityOld_ADDR] [char](29) NOT NULL,
	[MatchedStateOld_ADDR] [char](2) NOT NULL,
	[MatchedZipOld_ADDR] [char](9) NOT NULL,
	[FipsPassBack_CODE] [char](5) NOT NULL,
	[AdditionalStatePassBack_TEXT] [char](23) NOT NULL,
	[AccountBalance_AMNT] [char](7) NOT NULL,
	[AccountMatch_CODE] [char](1) NOT NULL,
	[TrustFund_CODE] [char](1) NOT NULL,
	[AccountBalance_CODE] [char](1) NOT NULL,
	[AccountUpdate_CODE] [char](1) NOT NULL,
	[AccountHolderBirth_DATE] [char](8) NOT NULL,
	[StatePassBack_TEXT] [char](10) NOT NULL,
	[AccountType_CODE] [char](2) NOT NULL,
	[CasePassBack_TEXT] [char](15) NOT NULL,
	[Payee_CODE] [char](1) NOT NULL,
	[PrimarySsn_NUMB] [char](9) NOT NULL,
	[SecondPayeeSsn_NUMB] [char](9) NOT NULL,
	[MatchedAddrNormalization_CODE] [char](1) NOT NULL,
	[MatchedLine1_ADDR] [varchar](50) NOT NULL,
	[MatchedLine2_ADDR] [varchar](50) NOT NULL,
	[MatchedCity_ADDR] [char](28) NOT NULL,
	[MatchedState_ADDR] [char](2) NOT NULL,
	[MatchedZip_ADDR] [char](15) NOT NULL,
	[Process_INDC] [char](1) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL,
 CONSTRAINT [LACHL_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[LoadFidmAchl_T1]  WITH CHECK ADD  CONSTRAINT [FK_LACHL_LFIIR] FOREIGN KEY([FidmFiirSeq_IDNO])
REFERENCES [dbo].[LoadFidmFiir_T1] ([Seq_IDNO])
GO
ALTER TABLE [dbo].[LoadFidmAchl_T1] CHECK CONSTRAINT [FK_LACHL_LFIIR]
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'Record Sequence number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Financial Institution Record Sequence number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FidmFiirSeq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'FIDM matched record type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'File generated date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FileGenerated_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'First four characters of payee last name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'PayeeLast_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched social security number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Payee account number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'PayeeAccount_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Report the full length account title of the account matched' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FullAccountTitle_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Specifies whether address of payee is in foreign country or not' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'ForeignCountry_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Matched_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Second payee name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'SecondPayee_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person street address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedStreetOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person address city' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person address state' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person address zip code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'FIPS Code Pass back information. Supplied by state on inquiry file for matching purpose' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FipsPassBack_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Additional State Pass back information. Supplied by state on inquiry file for matching purpose' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AdditionalStatePassBack_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Account balance' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountBalance_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Account match flag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountMatch_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Trust fund code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'TrustFund_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Specifies the type of account balance provided' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountBalance_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Specifies whether the account is closed, new account or revised account for account update files.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountUpdate_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Account holder date of birth' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountHolderBirth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State Pass Back information. Supplied by state in inquiry file for matching purpose' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'StatePassBack_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Account type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'AccountType_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Case Pass Back information. Supplied by state on inquiry file for matching purpose' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'CasePassBack_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Payee match code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Payee_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Primary SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'PrimarySsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Second payee SSN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'SecondPayeeSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Normalization Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedAddrNormalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person address line 1 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person address line 2 after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person city address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person state address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Matched person zip address after Normalization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'MatchedZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Process indicator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'File loaded date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table is used as staging table to load Account Holder records from FIDM (Financial institution data match) incoming file.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFidmAchl_T1'
GO
