USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'7' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeIns_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeVen_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeDebt_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeSal_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeRet_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludePas_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeFin_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeAdm_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeIrs_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'StateAdministration_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Certified_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'5' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TypeTransaction_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'6' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'SubmitLast_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Transaction_AMNT'

GO
EXEC sys.sp_dropextendedproperty @name=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TypeArrear_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TaxYear_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
/****** Object:  Index [IFMS_SSN_ARREAR_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP INDEX [IFMS_SSN_ARREAR_I1] ON [dbo].[InterceptFmsLog_T1]
GO
/****** Object:  Index [IFMS_MEMBERMCI_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP INDEX [IFMS_MEMBERMCI_I1] ON [dbo].[InterceptFmsLog_T1]
GO
/****** Object:  Table [dbo].[InterceptFmsLog_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[InterceptFmsLog_T1]
GO
/****** Object:  Table [dbo].[InterceptFmsLog_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InterceptFmsLog_T1](
	[MemberMci_IDNO] [numeric](10, 0) NOT NULL,
	[Case_IDNO] [numeric](6, 0) NOT NULL,
	[MemberSsn_NUMB] [numeric](9, 0) NOT NULL,
	[Last_NAME] [char](20) NOT NULL,
	[First_NAME] [char](16) NOT NULL,
	[Middle_NAME] [char](20) NOT NULL,
	[TaxYear_NUMB] [numeric](4, 0) NOT NULL,
	[TypeArrear_CODE] [char](1) NOT NULL,
	[Transaction_AMNT] [numeric](11, 2) NOT NULL,
	[SubmitLast_DATE] [date] NOT NULL,
	[TypeTransaction_CODE] [char](1) NOT NULL,
	[CountyFips_CODE] [char](3) NOT NULL,
	[Certified_DATE] [date] NOT NULL,
	[StateAdministration_CODE] [char](2) NOT NULL,
	[ExcludeIrs_CODE] [char](1) NOT NULL,
	[ExcludeAdm_CODE] [char](1) NOT NULL,
	[ExcludeFin_CODE] [char](1) NOT NULL,
	[ExcludePas_CODE] [char](1) NOT NULL,
	[ExcludeRet_CODE] [char](1) NOT NULL,
	[ExcludeSal_CODE] [char](1) NOT NULL,
	[ExcludeDebt_CODE] [char](1) NOT NULL,
	[ExcludeVen_CODE] [char](1) NOT NULL,
	[ExcludeIns_CODE] [char](1) NOT NULL,
	[WorkerUpdate_ID] [char](30) NOT NULL,
	[Update_DTTM] [datetime2](7) NOT NULL,
	[TransactionEventSeq_NUMB] [numeric](19, 0) NOT NULL,
 CONSTRAINT [IFMS_I1] PRIMARY KEY CLUSTERED 
(
	[Case_IDNO] ASC,
	[MemberMci_IDNO] ASC,
	[SubmitLast_DATE] ASC,
	[TaxYear_NUMB] ASC,
	[TransactionEventSeq_NUMB] ASC,
	[TypeArrear_CODE] ASC,
	[TypeTransaction_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IFMS_MEMBERMCI_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
CREATE NONCLUSTERED INDEX [IFMS_MEMBERMCI_I1] ON [dbo].[InterceptFmsLog_T1]
(
	[MemberMci_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IFMS_SSN_ARREAR_I1]    Script Date: 4/7/2015 12:53:07 PM ******/
CREATE NONCLUSTERED INDEX [IFMS_SSN_ARREAR_I1] ON [dbo].[InterceptFmsLog_T1]
(
	[MemberSsn_NUMB] ASC,
	[TypeArrear_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'1', @value=N'The case participant ID for whom referral has been made to Federal Offset Program.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'2', @value=N'The Case ID of the Participant.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Case_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'SSN of the member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Last name of the member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'First name of the member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Middle name of the member.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'4', @value=N'Tax year for which offset action is valid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TaxYear_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'3', @value=N'Offset arrears type. Possible values are A-TANF or N-Non-TANF.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TypeArrear_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The amount of TANF or Non-TANF arrears certified and submitted for the case based on the case''s Qualified Federal TANF or Qualified Federal Non-TANF on the TAXI.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Transaction_AMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'6', @value=N'Date that the member/SSN was first certified for the offset program.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'SubmitLast_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'5', @value=N'Represents the Type of Transaction, whether it is an addition or Modification. Possible values are A - Add Case (Certified) B - Name Change C - Case Id Change D - Delete L - Local Code Change M - Modification (Update) R - Replace Exclusion Indicator(s) S - State Payment T - Transfer for Administrative Review Z - Address Change.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TypeTransaction_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'County FIPS Code. Values are obtained from REFM (OTHP/CNTY)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date the arrears were certified.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Certified_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'State code where the case was moved for administrative review. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'StateAdministration_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Internal Revenue Service exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeIrs_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Administrative exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeAdm_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the MS-FIDM exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeFin_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Passport Denial exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludePas_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Federal Retirement exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeRet_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Federal Salary exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeSal_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Debt Check exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeDebt_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Vendor Payment exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeVen_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicator representing the status of the Insurance exclusion from Federal Offset. Possible values will be determined in the subsequent technical design.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'ExcludeIns_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the worker ID who created/modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'WorkerUpdate_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Stores the effective Date with Time at which this record was inserted / modified in this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'Update_DTTM'
GO
EXEC sys.sp_addextendedproperty @name=N'7', @value=N'Unique Sequence Number that will be generated for any given transaction on the Table. This field is used for checking concurrency at the time of online transaction updates.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1', @level2type=N'COLUMN',@level2name=N'TransactionEventSeq_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This table is used to store the latest transaction sent to OCSE by Case level.  And whenever a transaction is sent to OCSE, the previous transaction details from this will be moved to INTERCEPT_FMS_LOG_HIST table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InterceptFmsLog_T1'
GO
