USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'ProcessIndicator_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrAddrNorm_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailZip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailState_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailCity_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailAddrNorm_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrEmployer_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthpId_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailZipOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailStateOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailCityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine2Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine1Old_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'CellPhone_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'DescriptionWeightLbs_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'DescriptionHeightInches_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'DescriptionHeightFt_TEXT'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'ColorHair_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'ColorEyes_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Race_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberSex_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Relationship_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberType_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'FamilyCrtFile_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Action_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'

GO
/****** Object:  Table [dbo].[LoadFamilyCourtNivdParticipant_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadFamilyCourtNivdParticipant_T1]
GO
/****** Object:  Table [dbo].[LoadFamilyCourtNivdParticipant_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoadFamilyCourtNivdParticipant_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[Rec_ID] [char](4) NOT NULL,
	[Action_DATE] [char](8) NOT NULL,
	[FamilyCrtFile_ID] [char](10) NOT NULL,
	[MemberMci_IDNO] [char](10) NOT NULL,
	[MemberType_CODE] [char](4) NOT NULL,
	[Relationship_CODE] [char](4) NOT NULL,
	[Last_NAME] [char](17) NOT NULL,
	[First_NAME] [char](11) NOT NULL,
	[Middle_NAME] [char](1) NOT NULL,
	[MemberSsn_NUMB] [char](9) NOT NULL,
	[Birth_DATE] [char](8) NOT NULL,
	[MemberSex_CODE] [char](1) NOT NULL,
	[Race_CODE] [char](1) NOT NULL,
	[ColorEyes_CODE] [char](3) NOT NULL,
	[ColorHair_CODE] [char](3) NOT NULL,
	[DescriptionHeightFt_TEXT] [char](1) NOT NULL,
	[DescriptionHeightInches_TEXT] [char](2) NOT NULL,
	[DescriptionWeightLbs_TEXT] [char](4) NOT NULL,
	[CellPhone_NUMB] [char](10) NOT NULL,
	[MailLine1Old_ADDR] [char](31) NOT NULL,
	[MailLine2Old_ADDR] [char](31) NOT NULL,
	[MailCityOld_ADDR] [char](16) NOT NULL,
	[MailStateOld_ADDR] [char](2) NOT NULL,
	[MailZipOld_ADDR] [char](9) NOT NULL,
	[HomePhone_NUMB] [char](10) NOT NULL,
	[OthrLine1Old_ADDR] [char](31) NOT NULL,
	[OthrLine2Old_ADDR] [char](31) NOT NULL,
	[OthrCityOld_ADDR] [char](16) NOT NULL,
	[OthrStateOld_ADDR] [char](2) NOT NULL,
	[OthrZipOld_ADDR] [char](9) NOT NULL,
	[OthpId_IDNO] [char](9) NOT NULL,
	[OthrEmployer_IDNO] [char](9) NOT NULL,
	[MailAddrNorm_CODE] [char](1) NOT NULL,
	[MailLine1_ADDR] [varchar](50) NOT NULL,
	[MailLine2_ADDR] [varchar](50) NOT NULL,
	[MailCity_ADDR] [char](28) NOT NULL,
	[MailState_ADDR] [char](2) NOT NULL,
	[MailZip_ADDR] [char](15) NOT NULL,
	[OthrAddrNorm_CODE] [char](1) NOT NULL,
	[OthrLine1_ADDR] [varchar](50) NOT NULL,
	[OthrLine2_ADDR] [varchar](50) NOT NULL,
	[OthrCity_ADDR] [char](28) NOT NULL,
	[OthrState_ADDR] [char](2) NOT NULL,
	[OthrZip_ADDR] [char](15) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL,
	[ProcessIndicator_INDC] [char](1) NOT NULL,
 CONSTRAINT [LFCNP_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Specifies the system generated sequence number to maintain uniqueness.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Record type code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Petition action date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Action_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Family court file number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'FamilyCrtFile_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member MCI Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member type in the case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberType_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member relation code to the case number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Relationship_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member last name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Last_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member first name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'First_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member middle name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Middle_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Social Security Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member Date of Birth.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Birth_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member sex code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MemberSex_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member race code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'Race_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member eye color.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'ColorEyes_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member hair color.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'ColorHair_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member height in feet.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'DescriptionHeightFt_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member height in inches.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'DescriptionHeightInches_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member weight.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'DescriptionWeightLbs_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member cell phone number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'CellPhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address line 1 old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address line 2 old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address city old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail addresses state old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address zip code old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other phone number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'HomePhone_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address line 1 old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine1Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address line 2 old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine2Old_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address city old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrCityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address state old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrStateOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address zip code old.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrZipOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member employer OTHP ID.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthpId_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member employer identification number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrEmployer_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail addresses normalization code.  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailAddrNorm_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address line 1 normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address line 2 normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address city normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address state normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member official mail address zip code normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'MailZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address normalization code.  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrAddrNorm_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address line 1 normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address line 2 normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrLine2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address city normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrCity_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address state normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrState_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Member other address zip code normalized.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'OthrZip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date on which incoming file from Family court is loaded.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Process Indicator.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1', @level2type=N'COLUMN',@level2name=N'ProcessIndicator_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Read incoming files from family court NIVD and loads Participant type into temporary table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFamilyCourtNivdParticipant_T1'
GO
