USE [DEV_ONL_DB]
GO
EXEC sys.sp_dropextendedproperty @name=N'Comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Zip_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'State_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'City_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Line2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Line1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Normalization_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'StateSort_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FaxFacility_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'PhoneFacility_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ContactFacility_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'AddrAcrub3_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub2_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub1_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ZipFacilityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'StFacilityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'CityFacilityOld_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld4_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld3_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld2_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld1_ADDR'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Facility_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'TypeFacility_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ReportPr_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ReporterPr_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ReleasePr_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ConfinedPr_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'NumberPr_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MultiSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MultiSsn_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'TypeLocReq_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LocClosed_INDC'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SubmittedMemberMci_IDNO'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SubmittedMemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LastSubmitted_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MiddleSubmitted_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FirstSubmitted_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'BirthPr_DATE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SexPr_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SuffixPr_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LastPr_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MiddlePr_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FirstPr_NAME'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'PrisonUsedMemberSsn_NUMB'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LocSourceResp_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'StateTerritory_CODE'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'

GO
EXEC sys.sp_dropextendedproperty @name=N'Null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'

GO
/****** Object:  Table [dbo].[LoadFcrSvesPrisoner_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
DROP TABLE [dbo].[LoadFcrSvesPrisoner_T1]
GO
/****** Object:  Table [dbo].[LoadFcrSvesPrisoner_T1]    Script Date: 4/7/2015 12:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoadFcrSvesPrisoner_T1](
	[Seq_IDNO] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[Rec_ID] [char](2) NOT NULL,
	[StateTerritory_CODE] [char](2) NOT NULL,
	[LocSourceResp_CODE] [char](3) NOT NULL,
	[PrisonUsedMemberSsn_NUMB] [char](9) NOT NULL,
	[FirstPr_NAME] [char](15) NOT NULL,
	[MiddlePr_NAME] [char](15) NOT NULL,
	[LastPr_NAME] [char](20) NOT NULL,
	[SuffixPr_NAME] [char](4) NOT NULL,
	[SexPr_CODE] [char](1) NOT NULL,
	[BirthPr_DATE] [char](8) NOT NULL,
	[FirstSubmitted_NAME] [char](12) NOT NULL,
	[MiddleSubmitted_NAME] [char](1) NOT NULL,
	[LastSubmitted_NAME] [char](19) NOT NULL,
	[SubmittedMemberSsn_NUMB] [char](9) NOT NULL,
	[SubmittedMemberMci_IDNO] [char](15) NOT NULL,
	[UserField_NAME] [char](15) NOT NULL,
	[LocClosed_INDC] [char](1) NOT NULL,
	[CountyFips_CODE] [char](3) NOT NULL,
	[TypeLocReq_CODE] [char](2) NOT NULL,
	[MultiSsn_CODE] [char](1) NOT NULL,
	[MultiSsn_NUMB] [char](9) NOT NULL,
	[NumberPr_IDNO] [char](10) NOT NULL,
	[ConfinedPr_DATE] [char](8) NOT NULL,
	[ReleasePr_DATE] [char](8) NOT NULL,
	[ReporterPr_NAME] [varchar](60) NOT NULL,
	[ReportPr_DATE] [char](8) NOT NULL,
	[TypeFacility_CODE] [char](2) NOT NULL,
	[Facility_NAME] [varchar](60) NOT NULL,
	[FacilityOld1_ADDR] [char](40) NOT NULL,
	[FacilityOld2_ADDR] [char](40) NOT NULL,
	[FacilityOld3_ADDR] [char](40) NOT NULL,
	[FacilityOld4_ADDR] [char](40) NOT NULL,
	[CityFacilityOld_ADDR] [char](19) NOT NULL,
	[StFacilityOld_ADDR] [char](2) NOT NULL,
	[ZipFacilityOld_ADDR] [char](9) NOT NULL,
	[AddrScrub1_CODE] [char](2) NOT NULL,
	[AddrScrub2_CODE] [char](2) NOT NULL,
	[AddrAcrub3_CODE] [char](2) NOT NULL,
	[ContactFacility_NAME] [char](35) NOT NULL,
	[PhoneFacility_NUMB] [char](10) NOT NULL,
	[FaxFacility_NUMB] [char](10) NOT NULL,
	[StateSort_CODE] [char](2) NOT NULL,
	[Normalization_CODE] [char](1) NOT NULL,
	[Line1_ADDR] [varchar](50) NOT NULL,
	[Line2_ADDR] [varchar](50) NOT NULL,
	[City_ADDR] [char](28) NOT NULL,
	[State_ADDR] [char](2) NOT NULL,
	[Zip_ADDR] [char](10) NOT NULL,
	[Process_INDC] [char](1) NOT NULL,
	[FileLoad_DATE] [date] NOT NULL,
 CONSTRAINT [LFSPR_I1] PRIMARY KEY CLUSTERED 
(
	[Seq_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Specifies the system generated sequence number to maintain uniqueness.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Seq_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Record Identifier.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Rec_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the two-digit numeric FIPS Code of the state or territory that transmitted the Locate Request to the FCR.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'StateTerritory_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the Prisoner Locate source. The code - E07.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LocSourceResp_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies SSN that was reported by the prison to SSA.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'PrisonUsedMemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the first name that was reported to SSA by the prison.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FirstPr_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the middle name or middle initial that was reported to SSA by the prison.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MiddlePr_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the last name that was reported to SSA by the prison.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LastPr_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the suffix name that was reported to SSA by the prison. If not applicable or unavailable, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SuffixPr_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies one of the Sex Codes to indicate the prisoner''s gender.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SexPr_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies date of birth that was reported by the prison. The date will be in CCYYMMDD format. This field will be spaces if unavailable.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'BirthPr_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the first name that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FirstSubmitted_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the middle initial that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MiddleSubmitted_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the last name that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LastSubmitted_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the Social Security Number that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SubmittedMemberSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Will contain the member ID that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'SubmittedMemberMci_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the user field that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'UserField_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Locate Closed Indicator. This field will contain a C if this is the last Locate Response being returned for a Locate Request. This field will contain a space if it is not the last Locate Response for this person for this requestor.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'LocClosed_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the FIPS County Code that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'CountyFips_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Locate Request Type that was provided by the submitter for the Locate Request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'TypeLocReq_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Multiple SSN Indicators. This field will contain one of the following values to indicate if the SSN that was used in the SVES match is a multiple SSN.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MultiSsn_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Multiple SSN. The SSA SSN verification routines identified one or more multiple valid SSNs for the person, an additional valid SSN will be in this field.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'MultiSsn_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the Prisoner Identification Number that was returned on the Locate Response. If unavailable, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'NumberPr_IDNO'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the date that the prisoner was confined to a prison/facility. The date will be in CCYYMMDD format.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ConfinedPr_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the date that the prisoner was released from the prison/facility. The date will be in CCYYMMDD format. If not applicable, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ReleasePr_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Prisoner Reporter Name. This will contain the name of the source that provided the prisoner information to SSA.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ReporterPr_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Report Date. This field will contain the date that SSA received the prisoner information. The date will be in CCYYMMDD format.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ReportPr_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Prison/Facility Type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'TypeFacility_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the name of the prison/facility.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Facility_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the first line of the prison/facility address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will contain line 2 of the prison/facility address. Otherwise, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will contain line 3 of the prison/facility address. Otherwise, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld3_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will contain line 4 of the prison/facility address. Otherwise, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FacilityOld4_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the city that is associated with the prison/facility address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'CityFacilityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the two character state abbreviation that is associated with the prison/facility address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'StFacilityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Will contain the Zip Code for the prison/facility.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ZipFacilityOld_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Prison/Facility Address Scrub Indicator 1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub1_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Prison/Facility Address Scrub Indicator 2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'AddrScrub2_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Prison/Facility Address Scrub Indicator 3.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'AddrAcrub3_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the name of the contact person for the prison/facility. If unavailable, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'ContactFacility_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will contain the area code and telephone number of the prison/facility. If unavailable, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'PhoneFacility_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies the FAX number of the prison/facility. If unavailable, this field will contain spaces.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FaxFacility_NUMB'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'This field will contain the two-digit numeric FIPS state code of the state that will receive the response.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'StateSort_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates address normalization status.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Normalization_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Normalized first line of the prison/facility address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Line1_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Normalized Address Line 2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Line2_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Normalized city that is associated with the prison/facility address.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'City_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Normalized state abbreviation that is associated with the prison/facility address. Values are obtained from REFM (STAT/STAT).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'State_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Identifies Normalized Zip Code for the prison/facility.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Zip_ADDR'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'Indicates Y if the record is processed otherwise N.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'Process_INDC'
GO
EXEC sys.sp_addextendedproperty @name=N'Null', @value=N'The date on which incoming file from Family court is loaded.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1', @level2type=N'COLUMN',@level2name=N'FileLoad_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'This Staging table is used in BATCH_ENF_FCR_INCOMING. This is used to load the PRISONER INFORMATION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoadFcrSvesPrisoner_T1'
GO
